<div class="espacio-menu">

</div>
<footer style="margin-top: 10px;" class="footer-class">
  <div id="pie-footer" class="container">
    <div class="row">
      <div class="informacion col-lg-12">
        <a class="text-center">Ayuda</a>
        <a class="text-center">Políticas de Privacidad</a>
        <a routerLink="/terminos" class="text-center">Términos y Condiciones</a>
      </div>
      <div class="copyrigth col-lg-12">
        <p>© Copyright 2019: &nbsp; </p>
        <a href="{{link_copyright}}"> Smarket</a>
      </div>
      <div id="desarrollador" class="col-lg-12">
        <p>Desarrollado por: &nbsp;</p>
        <a href="{{link_desarrollador}}">Team Ornitorrinco</a>
      </div>
    </div>
  </div>
</footer>
