<div class="container-fluid" style="background-color: white">
  <div class="row">
    <div class="col-lg-9" id="contenedorarticuloscart">
      <hr />
      <div class="container">
        <div class="row">
          <div class="col-lg-10"><h5>CARRITO DE COMPRAS</h5></div>
          <div class="col-lg-2"><button class="btn btn-danger btnandean" style="font-size: 11px" (click)="eliminartodo()">ELIMINAR TODO<i class="material-icons" style="font-size: 15px">delete_forever</i></button></div>
          <div></div>
        </div>
      </div>
      <hr />
      <h3 id="mencartvacio" style="display: none; text-align: center;">NO TIENES PRODUCTOS EN TU CARRITO<i class="material-icons">
          shopping_cart</i>
        </h3>
      <div class="container" id="listacartarticulos">
        <div class="row">
          <div
            class="col-lg-8"
            *ngFor="let articulo of listaarticuloscart"
            id="contenedorarticulo{{articulo}}"
          >
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-4" id="colart1{{articulo}}">
                  <a
                    href="#"
                    matTooltip="{{articulo}}"
                    matTooltipClass="colortooltip"
                  >
                    <img
                      class="card-img-top"
                      src="assets\images\carrito\{{articulo}}.jpg"
                      alt=""
                    />
                  </a>
                </div>
                <div class="col-lg-4" id="colart2{{articulo}}">
                  <p class="card-title">
                    <a>{{ articulo }}</a>
                  </p>
                  <p class="card-text" style="color: red;">s/. 3.000 PREPAGO</p>
                </div>
                <div class="col-lg-3">
                  <div class="form-group">
                    <label style="font-size: 15px" for="sel1">Cantidad</label>
                    <select
                      style="font-size: 12px"
                      class="form-control"
                      id="sel1"
                      style="width: 70%"
                    >
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-1">
                  <div class="example-button-row">
                    <button
                      type="button"
                      class="close"
                      aria-label="Close"
                      matTooltip="Eliminar"
                      matTooltipClass="colortooltip"
                      (click)="eliminaritem(articulo)">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <hr />
          </div>
        </div>
      </div>
    </div>
    <!-- bloqueterminarcompras -->
    <div class="col-lg-3" style="background-color: white">
      <hr />
      <h5>RESUMEN DE PEDIDO</h5>
      <hr />
      <p>Sub Total</p>
      <hr />
      <p>Envio</p>
      <hr />
      <b><p (click)="mostrardivenvio()">Calcular Envio</p></b>
      <div id="listaenvio" style="display: none;">
          <div class="form-group">
              <label for="exampleSelect1">Departamento</label>
              <select class="form-control" id="exampleSelect1">
                <option>Amazonas</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
        <div class="form-group">
            <label for="exampleSelect2">Provincia</label>
            <select class="form-control" id="exampleSelect2">
              <option>Seleccione una Provincia</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        <div class="form-group">
            <label for="exampleSelect3">Distrito</label>
            <select class="form-control" id="exampleSelect3">
              <option>Seleccione un Distrito</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        <button class="btn btn-warning btnandean">CALCULAR</button>
      </div>
      <hr />
      <b><p (click)="mostrardivcupon()">Aplicar Cupón</p></b>
      <div id="seltcupon" style="display: none;">
        <input class="form-control" type="text" placeholder="INGRESAR CODIGO">
        <br>
        <button class="btn btn-warning btnandean">APLICAR</button>
      </div>
      <hr />
      <p>TOTAL</p>
      <hr />
      <button class="btn btn-warning btnandean" style="background-color: orangered; color:white">PROCESAR COMPRA</button>
      <hr />
    </div>
  </div>
  <br />
</div>
