<div class="footer">            
  <div class="row">
      <div class="col-60 col-sm-12 col-md-38 col-lg-60 mx-auto">
          <div class="card card-signin my-5">
              
                  <div class="card-body">
                                            
                      <div class="card-body" id="footer-low">
                          <div class="form-label-group">
                                <label> Contactanos:</label>
                               
                                <button type="button" class="btn btn-default btn-circle" id="boton-facebook"><i class="fab fa-facebook-f"></i>
                                </button>
                                <button type="button" class="btn btn-primary btn-circle" id="boton-google"><i class="fab fa-google"></i>
                                </button>
                                <button type="button" class="btn btn-success btn-circle" id="boton-twitter"><i class="fab fa-twitter"></i>
                                </button> 

                                <!-- Copyright -->
                          <div class="footer-copyright text-center py-3">© 2018 Copyright:
                              <a href="https://www.facebook.com/andeantecnology/">AndeanTechnology </a>
                            </div>
                            <!-- Copyright -->
                                                
                          </div>
                      </div>
                      


                  </div>

          </div>
      </div>
  </div>
</div>