<div class="header_menu_user">
  <div class="user_icon">
      <i class="material-icons">person</i>     
  </div>  
  <div class="titulo">Bienvenid@ a Smarket</div>
</div>
<div class="fila">
    <button class="boton" mat-button routerLink="/login" (click)="onToggleSidenav()">Identificate</button>
    <button class="boton" mat-button (click)="onToggleSidenav()">Registrate</button>

</div>

<mat-nav-list >
    <a class="item" mat-list-item href="/" >
        <i class="material-icons icon rojo">account_circle</i>
        <span class="nav-caption">Mi cuenta</span>
    </a>
    <a class="item" mat-list-item href="/" (click)="onToggleSidenav()">
        <i class="material-icons icon azul">shopping_cart</i>
        <span class="nav-caption">Carrito de Compras</span><span matBadge="4" matBadgeOverlap="false"></span> 
    </a>
    <a class="item" mat-list-item href="/" (click)="onToggleSidenav()">
        <i class="material-icons icon verde">local_shipping</i>
        <span class="nav-caption">Mis Pedidos</span>
    </a>
</mat-nav-list>
<mat-nav-list >
    <a class="item" mat-list-item (click)="openDialogCategorias()">
        <span class="nav-caption" >Categorias</span>
    </a>
</mat-nav-list>
<mat-nav-list >
    <a class="item" mat-list-item href="/" (click)="onToggleSidenav()">
        <span class="nav-caption">Términos y Condiciones</span>
    </a>
    <a class="item" mat-list-item href="/" (click)="onToggleSidenav()">
        <span class="nav-caption">Sobre Nosotros</span>
    </a>
    <a class="item" mat-list-item href="/" (click)="onToggleSidenav()">
        <span class="nav-caption">Cambios y Devoluciones</span>
    </a>
    <a class="item" mat-list-item href="/" (click)="onToggleSidenav()">
        <span class="nav-caption">Chatea con nosotros</span>
    </a>
    <a class="item" mat-list-item href="/" (click)="onToggleSidenav()">
        <span class="nav-caption">Servicio al Cliente</span>
    </a>
</mat-nav-list>
