<div class="terminos">
  <h2>Sobre nosotros</h2>
  <h5>JFCP Inversiones </h5>
<p>
  JFCP Inversiones E.I.R.L. es una empresa dedicada comercialización de productos tecnológicos, tales como 
  computadoras, cámaras, celulares, accesorios y mucho mas. Nuestro objetivo es brindar a nuestros clientes
  un buen servicio y productos de calidad de las mejores marcas aun un bajo precio.
</p> 
<h6>Datos de la Empresa </h6>
<div class="tabla">
    <table>
    
        <tr>
          <td>Razón Social</td>
          <td>JFCP Inversiones E.I.R.L.</td>
        </tr>
        <tr>
          <td>Nombre Comercial</td>
          <td>Smarket: Lo último en tecnologia</td>
        </tr>
        <tr>
          <td>RUC</td>
          <td>20603585217</td>
        </tr>
        <tr>
          <td>Giro de la Empresa</td>
          <td>Comercializador de productos tecnológicos </td>
        </tr>
        <tr>
          <td>Domicilio Fiscal</td>
          <td>AV. TOMASA TITO CONDEMAYTA NRO. 162B DPTO. 401 (MISMO BANCO D COMERCIO C6P 4TO PISO) CUSCO - CUSCO - WANCHAQ</td>
        </tr>
      </table>
</div>







<h5>Portal web SMARKET</h5>
<p>
  
  Es nuestra tienda virtual, por medio de la cual podemos realizar compras, navegar y encontrar 
  cualquier artículo tecnológico. Cuenta con una variedad de categorías en donde encontrarás lo ultimo en tecnologia
  en celulares laptops, accesorios entre otros. Tenemos la capacidad y experiencia para proveerle de los mejores productos y 
  servicios a través de una atención personalizada, antes y después de su compra, debido a que contamos con los mejores profesionales en nuestro rubro.
  Si estás buscando un lugar para comprar por internet de forma segura, 
  aquí hallarás promociones y beneficios para ti.
</p>
  
</div>