<nav class="navbar navbar-expand-lg " id="menu-principal">
  <a class="navbar-brand" routerLink="/home" style="width: auto; height: 40px; display: flex; align-items: center;"><img
      id="logosmarket" src="/assets/images/logoS.png" alt="Smarket. Lo último en tecnología, en un solo lugar" width="auto"
      height="40px"></a>
  <button class="navbar-toggler" type="button" (click)="openNav()">
    <i class="material-icons">
      menu
    </i>
  </button>
  <div class="navbar navbar-expand-lg" id="menu-iconos" style="height: 100%;top: 0; width: 70%;">
    <div class="campo-busqueda">
      <input class="input-busqueda" placeholder="Buscar Productos" id="buscarartpal" name="buscarartpal" (keypress)="buscarpa($event)">
      <i class="material-icons btn-busqueda" style="margin-right: 5px;" id="btnbusqueda2" (click)="buscarArti()">search</i>
    </div>
    <div class="campo-opciones-usuario">
      <div class="item-menu-opciones" style="display: none;">
        <i class="material-icons" style="font-size:30px; margin-right: 10px;"> local_shipping </i>
      </div>
      <div [matMenuTriggerFor]="menu" class="item-menu-opciones">
        <i class="material-icons" style="font-size:30px; margin-right: 5px;"> account_circle</i>
        <div id="labelnombreusuario">{{nombreusuario}} </div>
      </div>
      <mat-menu #menu="matMenu" style="margin: 0px;padding: 0px;" xPosition="before">
        <button *ngIf="estaLogeado" routerLink="/perfil-usuario" mat-menu-item style="font-size: 15px; margin: 0px; display: flex; flex-direction: row; align-items: center;"><i
            class="material-icons" style="font-size: large;margin-left: 14px; ">person</i>
          <div style="margin-left: 10px;">Perfil de Usuario</div>
        </button>
        <hr style="margin: 0px;">
        <button *ngIf="estaLogeado" routerLink="/perfil-usuario" mat-menu-item style="font-size: 15px; margin: 0px; display: flex; flex-direction: row; align-items: center;"><i
            class="material-icons" style="font-size: large;margin-left: 14px; ">local_shipping</i>
          <div style="margin-left: 10px;">Pedidos</div>
        </button>
        <hr *ngIf="estaLogeado" style="margin: 0px;">
        <button *ngIf="estaLogeado" routerLink="/perfil-usuario" mat-menu-item style="font-size: 15px; margin: 0px; display: flex; flex-direction: row; align-items: center;"><i
            class="material-icons" style="font-size: large;margin-left: 14px; ">local_play</i>
          <div style="margin-left: 10px;">Lista de Deseos</div>
        </button>
        <hr *ngIf="estaLogeado" style="margin: 0px;">
        <button *ngIf="estaLogeado" (click)="logout()" mat-menu-item style="font-size: 15px; margin: 0px; display: flex; flex-direction: row; align-items: center; background-color: rgb(230, 223, 223);"><i
            class="material-icons" style="font-size: large;margin-left: 14px; ">close</i>
          <div style="margin-left: 10px;">Cerrar Sesion</div>
        </button>
        <hr *ngIf="estaLogeado" style="margin: 0px;">
        <button *ngIf="!estaLogeado" routerLink="/login" mat-menu-item style="font-size: 15px; margin: 0px; display: flex; flex-direction: row; align-items: center;"><i
            class="material-icons" style="font-size: large;margin-left: 14px; ">vpn_key</i>
          <div style="margin-left: 10px;">Iniciar Sesion</div>
        </button>
        <hr *ngIf="!estaLogeado" style="margin: 0px;">
        <button *ngIf="!estaLogeado" routerLink="/registro" mat-menu-item style="font-size: 15px; margin: 0px; display: flex; flex-direction: row; align-items: center;"><i
            class="material-icons" style="font-size: large;margin-left: 14px; ">person_add</i>
          <div style="margin-left: 10px;">Nuevo Usuario</div>
        </button>
        <hr *ngIf="!estaLogeado" style="margin: 0px;">
      </mat-menu>
      <div class="item-menu-opciones">
        <i class="material-icons" style="font-size:30px; margin-right: 5px;" routerLink="/cart"> shopping_cart </i>
      </div>
    </div>
  </div>
</nav>

<div id="menu-todas-opciones">
  <ul>
    <li class="active-menu-cont"><a class="active-menu">CATEGORIAS</a></li>
  </ul>
</div>
<div class="cont-busqueda-peque">
  <div style="width: 100%; ">
    <input type="text" style="width: 100%; border-radius: 5px; border: 0px;height: 30px;padding-left: 5px;" placeholder="Busca productos"
      id="buscarartpal2" name="buscarartpal2">
  </div>
  <i class="material-icons btncerrar-menu" style="font-size:25px; margin-right: 5px; color: white; padding-left: 5px;"
    (click)="buscarArti()">search</i>
</div>
<!-- MENU EN CELULARES-->
<div id="mySidepanel2" class="sidepanel" style="z-index: 1600;">
  <div id="mySidepanel" class="cont-menu-peque">
    <div class="header-menu-peque">
      <div style="width: 40%; height: auto; padding-left: 15px;">
        <img src="/assets/images/logoS.png" alt="" style="width: 100%;">
      </div>
      <div style="width: 60%; display: flex; justify-content: flex-end; margin: 0px;padding-right: 15px;">
        <i class="material-icons btncerrar-menu" style="color: white; font-size: x-large;" (click)="closeNav()">close</i>
      </div>
    </div>
    <div style="width: 100%; padding: 5px; padding-top: 15px; display: flex; flex-direction: column;">
      <h5>Categorias</h5>
      <hr style="margin: 0px; padding: 0px;">
      <div style="width: 100%; display:flex; flex-direction: column">
        <div *ngFor="let categoriap of categorias; index as i" class="item-cat-menu-peque" (click)="busquedacat(categoriap._id)">
          <i class="material-icons" style="font-size: 20px;margin-right: 5px; width: 25px;">{{categoriap.icono}}</i>
          <div>{{categoriap.nombre}}</div>
        </div>
      </div>
      <hr style="margin: 0px; padding: 0px; margin-top: 10px;">
      <div class="item-menu-peque" (click)="abrirChat()">
        <i class="material-icons">
          chat_bubble_outline
        </i>
        <h5>Chat</h5>
      </div>
      <hr style="margin: 0px; padding: 0px;">
      <div class="item-menu-peque">
        <h5>Terminos y condiciones</h5>
      </div>
      <hr style="margin: 0px; padding: 0px;">
    </div>
  </div>
</div>
