<nav class="navbar navbar-expand-lg " id="menu-principal">
  <a class="navbar-brand" routerLink="/home">{{nombre_tienda}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <mat-icon id="menu-icon">menu</mat-icon>
  </button>
  <div class="navbar navbar-expand-lg" id="menu-iconos">
    <ul class="navbar-nav mr-auto">
    </ul>
    <form id="buscar-form" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" id="buscar" type="search" placeholder="Buscar" aria-label="Search">
      <button class="btn btn-link my-2 my-sm-0" routerLink="/busqueda">
        <mat-icon id="icono-buscar">search</mat-icon>
      </button>
    </form>
    <button id="buscar-icon" type="button" class="btn btn-link" routerLink="/busqueda">
      <mat-icon id="icono-buscar" class="icono">search</mat-icon>
    </button>

    <button type="button" class="btn btn-link" [matMenuTriggerFor]="usermenu">
      <mat-icon class="icono">account_circle</mat-icon>
    </button>
    <mat-menu #usermenu="matMenu" class="menu-login">
      <button *ngIf="estalogeado" mat-menu-item><mat-icon class="icono">person</mat-icon> Perfil</button>
      <button *ngIf="estalogeado" mat-menu-item><mat-icon class="icono">arrow_forward</mat-icon> Cerrar Sesión</button>
      <button *ngIf="!estalogeado" mat-menu-item routerLink="/login"><mat-icon class="icono">vpn_key</mat-icon> Iniciar Sesión</button>
      <button *ngIf="!estalogeado" mat-menu-item><mat-icon class="icono">person_add</mat-icon> Nuevo Usuario</button>
    </mat-menu>
    <button type="button" class="btn btn-link" routerLink="/cart">
      <mat-icon class="icono">shopping_cart</mat-icon>
    </button>
  </div>
</nav>
<nav class="navbar navbar-expand-lg" id="categorias">
  <a class="navbar-brand" href="#"></a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Categorias <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Telefonos</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="menu-tablets" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Tabletas
        </a>
        <div id="nav-menu" class="dropdown-menu" aria-labelledby="menu-tablets">
          <a class="dropdown-item" href="#">Action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Otros</a>
      </li>
    </ul>
  </div>
</nav>