/* Extra small devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap*/
a {
  color: whitesmoke;
}

.btn {
  padding: 0px;
}

.btn-link {
  color: rgb(255, 227, 227);
}

.dropdown-menu a {
  color: black;
}

.dropdown-item:hover {
  background-color: gray;
  color: black;
}

.dropdown-divider {
  visibility: hidden;
}

.icono {
  right: 150px;
  padding-top: 0.7rem;
  padding-left: 0.35rem;
  width: 30px;
  height: 30px;
}

.navbar-brand {
  color: whitesmoke;
  font-weight: bold;
  font-size: 21px;
}

.navbar-toggler {
  background: gray;

}

#buscar-form {
  display: none;
}

#categorias {
  padding: .5rem 0rem;
}

#categorias .nav-item a {
  padding-left: 1rem;
}

#icono-buscar {
  width: 30px;
  height: 30px;
}

#icono-buscar :hover {
  color: black;
}

#icono-mobile {
  color: whitesmoke;
  height: 32px;
  width: 32px;
}

#menu-icon {
  color: white;
}

#menu-iconos {
  position: absolute;
  right: 5rem;
  top: .05rem;
}

#menu-principal {
  position: relative;
  background: linear-gradient(orange, #ff8c00);
  height: 64px;
  color: whitesmoke;
}

#nav-menu {
  border-radius: 1%;
  border: 0rem;
}

#descripcion-categoria img{
  width: 200px;
  height: 150px;
}



/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {



  .form-control {
    border-radius: 0%;
    height: 2.1rem;
  }

  .icono {
    padding-top: 0.5rem;
    padding-right: .5rem;
  }

  .navbar {
    padding: 0rem 1rem;
  }

  #buscar {
    position: absolute;
    width: 26rem;
    display: inline;
    top: .95rem;
    right: 6rem;
    border-radius: 5px 5px 5px 5px;
  }

  #buscar-form {
    display: inline;
    padding-right: 1rem;
  }

  #buscar-icon {
    display: none;
  }

  #icono-buscar {
    padding-top: 1rem;
    padding-left: 1.5rem;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

  .dropdown {
    position: static;
  }

  .dropdown-divider {
    visibility: visible;
  }

  .icono {
    padding: 5px 30px;
  }

  .icono:hover {
    color: black;
  }

  .navbar-brand {
    font-size: 1.75rem;
  }

  #buscar {
    position: static;
    width: 32rem;
  }

  #buscar-form {
    padding-right: 0rem;
  }

  #categorias {
    height: 54px;
  }

  #descripcion-categoria h5{
    padding: 5% 5%;
    font-style: italic;
  }

  #descripcion-categoria img{
    width: 400px;
    height: 300px;
  }

  #icono-buscar {
    padding: 5px 30px 0px 0px;
  }

  #menu-iconos {
    position: absolute;
    padding: 5px 0px;
    right: 1.5rem;
    top: .7rem;
  }

  #menu-principal {
    position: relative;
    right: 0px;
  }
  #navegacion {
    min-width: 100%;
  }

  #navegacion ul {
    min-width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .navbar-nav {
    display: flex;
  }

  #nav-categorias {
    min-height: 20rem;
    min-width: 100%;
    display: flex;
    flex-direction: row;
  }

  #nav-categorias #lista-categorias {
    width: 20%;
    display: flex;
    flex-direction: column;
  }

  #nav-categorias #descripcion-categoria {
    display: flex;
    flex-direction: row;
    width: 80%;
  }

  #lista-categorias div a {
    text-transform: uppercase;
  }

  /* Animacion */
  .dropdown-slide>.dropdown-menu {
    opacity: .3;
    display: block;
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-transform: scale(1, 0);
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
  }

  .show.dropdown-slide>.dropdown-menu {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}