<div class="container-fluid" style="margin-bottom: 10px; padding: 0px;background-color: white;">
  <div style="display: flex; flex-direction: row; flex-wrap: nowrap;width: 100%;">
    <div class="categoriahome">
      <app-categoriahome style="width: 100%;" ></app-categoriahome>
    </div>
    <div style="width: 100%;  min-height: 350px;">
      <app-portafolio></app-portafolio>
    </div>
  </div>
</div>
<!--
<div class="container-fluid">
  <div class="row" style="background-color: rgb(240, 240, 240); ">
    <div class="col-lg-6">
      <app-redessociales></app-redessociales>
    </div>
    <div class="col-lg-6">
      <app-mapa></app-mapa>
    </div>
  </div>
  <hr>
</div>
-->