<div class="container-fluid" style="margin-bottom: 10px;">
  <div style="display: flex; flex-direction: row; flex-wrap: nowrap;width: 100%;">
    <div style="min-width: 260px; position: relative;">
      <app-categoriahome></app-categoriahome>
    </div>
    <div style="width: 100%;  min-height: 350px;">
      <app-portafolio></app-portafolio>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <app-redessociales></app-redessociales>
    </div>
    <div class="col-lg-6">
      <app-mapa></app-mapa>
    </div>
  </div>
  <hr>
</div>