<div class="container-fluid" id="contenedor">
  <div class="row">
    <div class="col-md-7 col-lg-8" id="contenedorarticuloscart">
      <hr>
      <div class="container">
        <div class="row">
          <div class="col-9 col-md-8 col-lg-9">
            <h5 class="titulo">CARRITO DE COMPRAS</h5>
          </div>
          <div class="col-3 col-md-4 col-lg-3">
            <button mat-icon-button color="primary" (click)="eliminartodo()" [hidden]="!mostrarArticulos">
              <mat-icon aria-label="Eliminar todo" matTooltip="Eliminar todos los artículos" matTooltipClass="colortooltip">delete_forever</mat-icon>
              {{tituloEliminar}}
            </button>
          </div>
        </div>
      </div>
      <hr>
      <div [hidden]="!cargando">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      </div>
      <h5 class="titulo" [style.display]="(!cargando && !mostrarArticulos) ? 'block' : 'none'">NO TIENES PRODUCTOS EN TU CARRITO</h5>
      <div class="container" [hidden]="(!cargando && !mostrarArticulos)">
        <div class="row" *ngFor="let articulo of listaArticulos; let i = index">
          <div class="col-lg-12" id="contenedorarticulo{{articulo.titulo}}">
            <div class="container-fluid">
              <div class="row">
                <div class="col-4" id="colart1{{articulo.titulo}}" style="text-align: center;">
                  <a matTooltip="{{articulo.titulo}}" matTooltipClass="colortooltip" href="https://www.smarket.com.pe/articulo/{{articulo.url}}">
                    <img src="{{urlImagenes}}/md/{{articulo.imagen}}" alt="{{articulo.titulo}}" [style.height]="alturaImg"
                      width="auto">
                  </a>
                </div>
                <div class="col-6" id="colart2{{articulo.titulo}}">
                  <a class="card-title tituloPlan">{{ articulo.titulo }}</a>
                  <p class="card-text precioPlan">S/ {{articulo.precio - articulo.precio * articulo.descuento / 100 | number:'1.2-2'}}</p>
                </div>
                <div class="col-2">
                  <button type="button" class="close" aria-label="Close" matTooltip="Eliminar" matTooltipClass="colortooltip"
                    (click)="eliminaritem(articulo.id)">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              </div>
            </div>
            <hr>
          </div>
        </div>
      </div>
    </div>
    <!-- bloqueterminarcompras -->
    <div class="col-md-5 col-lg-4" style="background-color: white" [hidden]="!mostrarArticulos">
      <hr>
      <h5 class="titulo">RESUMEN DE COMPRA</h5>
      <hr>
      <p class="subtitulo">Sub Total</p>
      <p class="sol">S/</p>
      <p class="precioSubtitulo">{{subtotal | number:'1.2-2'}}</p>
      <hr>
      <p class="subtitulo">Costo de Envío</p>
      <p class="sol">S/</p>
      <p class="precioSubtitulo">{{envio | number:'1.2-2'}}</p>
      <hr hidden>
      <b hidden>
        <p (click)="mostrardivenvio()">Calcular Envio</p>
      </b>
      <div [style.display]="mostrarEnvio ? 'block' : 'none'">
        <div class="form-group">
          <label for="sDepartamento">Departamento</label>
          <select class="form-control" id="sDepartamento" (change)="regionService.setDepartamentoSelected($event.target.value)">
            <option value="1">Seleccione un departamento</option>
            <option *ngFor="let dep of regionService.regiones" [value]="dep.departamento">{{dep.departamento}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="sProvincia">Provincia</label>
          <select class="form-control" id="sProvincia" (change)="regionService.setProvinciaSelected($event.target.value)">
            <option value="1">Seleccione una provincia</option>
            <option *ngFor="let prov of regionService.departamentoSelected.provincias" [value]="prov.provincia">{{prov.provincia}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="sDistrito">Distrito</label>
          <select class="form-control" id="sDistrito" (change)="regionService.setDistritoSelected($event.target.value)">
            <option value="1">Seleccione un distrito</option>
            <option *ngFor="let dist of regionService.provinciaSelected.distritos" [value]="dist">{{dist}}</option>
          </select>
        </div>
        <button class="btn btn-warning btnandean" (click)="calcularEnvio()">CALCULAR ENVIO</button>
      </div>
      <hr>
      <p class="subtitulo">TOTAL</p>
      <p class="sol">S/</p>
      <p class="precioSubtitulo">{{subtotal + envio | number:'1.2-2'}}</p>
      <hr>
    <!--  <button mat-raised-button color="accent" style="width: 100%;" (click)="enProceso()">PROCESAR COMPRA</button> -->
      <button mat-raised-button color="accent" style="width: 100%;" (click)="procesarCompra()">PROCESARCOMPRA</button>
      <hr>
    </div>
  </div>
  <br>
</div>