hr {
  margin: .5rem 0rem;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.btnandean {
  background: linear-gradient(orange, #ff8c00);
  width: 100%;
}

#contenedor {
  background-color: white;
  min-height: 520px;
}

.titulo {
  font-size: 1.25rem;
  text-align: center;
}

.nombrePlan {
  font-size: .75rem;
  margin-bottom: .05rem;
}

.precioPlan {
  color: red;
  font-size: 1.25rem;
}

.tituloPlan {
  font-size: .9rem;
}

.subtitulo {
  display: inline-block;
  width: 70%;
  font-size: 1.25rem;
  margin-bottom: 0rem;
}

.precioSubtitulo {
  display: inline-block;
  width: 25%;
  text-align: right;
  font-size: 1.25rem;
  padding-right: 10px;
  margin-bottom: 0rem;
}

.sol {
  display: inline-block;
  width: 5%;
  margin-bottom: 0rem;
}

#contenedorarticuloscart {
  padding-left: 5px;
  padding-right: 5px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #contenedor {
    min-height: 900px;
  }

  .subtitulo {
    display: inline-block;
    font-size: 1rem;
    width: 60%;
  }

  .precioSubtitulo {
    display: inline-block;
    width: 35%;
    text-align: right;
    font-size: 1.25rem;
    padding-right: 5px;
  }

  .sol {
    display: inline-block;
    width: 5%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #contenedor {
    min-height: 1200px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  #contenedorarticuloscart {
    padding-left: 30px;
    padding-right: 30px;
  }

  #contenedor {
    min-height: 520px;
  }

  .tituloPlan {
    font-size: 1.25rem;
  }

  .precioPlan {
    font-size: 1.5rem;
  }
}
