<div style="position: relative;width: 100%; height: 100%;">
  <div id="contenedor" style="width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center;background-image: url('/assets/images/fondo.jpg'); background-position: center; background-repeat: no-repeat; background-size: cover; opacity: 0.4;  " >
  
  
  
  </div>
  <div  style="width: 100%; height: auto; display: flex; flex-direction: column; justify-content: center; align-items: center;position: absolute; top:30%" >
  
    <h2 style="font-weight: bold;text-align: center;">Lo sentimos, estamos fuera de servicio por mantenimiento</h2>  
    <h4 style="text-align: center;"> Esta pagina no esta disponible temporalmente mientras mejoramos nuestro producto.</h4>
    <h5 style="margin-top: 10%;">Para mas información visite nuestras redes sociales:</h5>
    <div style="display: flex; flex-direction: row">
      <a href="https://www.facebook.com/SmarketCusco/" target="_blank"><img src="/assets/images/facebook.png" width="45px" ></a>

    </div>
    
  
  </div>
  <div style="position: absolute;top: 0; padding: 10px;">
    <img src="/assets/images/logoa1.png"  width="50%" height="auto">
  </div>
</div>
