<div>
  <mat-horizontal-stepper labelPosition="bottom" #stepper>
    <mat-step class="mat-step2" [stepControl]="firstFormGroup" state="direc">
      <ng-template matStepLabel>Informacion de Envío</ng-template>
      <form [formGroup]="firstFormGroup">
        <mat-card>
          <mat-card-title>
            <label for="">Hola, {{usuarioService.usuarioSeleccionado.nombres}}
              {{usuarioService.usuarioSeleccionado.apellidos}}</label>
          </mat-card-title>
          <mat-card-content>
            <p>Por favor, elija una dirección de envío o cree una nueva dirección</p>
          </mat-card-content>
          <!-- <mat-card-content *ngIf="usuarioService.usuarioSeleccionado.numeroDocumento">
            <h5 style="font-size: 16px;">Ingrese su documento de identidad (DNI)</h5>
            <mat-form-field>
              <input matInput name="numeroDocumento" #numeroDocumento placeholder="Número de Documento" minlength="8" required>
              <mat-error *ngIf="numeroDocumento.invalid && (numeroDocumento.dirty || numeroDocumento.touched) && numeroDocumento.errors.required">El
                número de Documento es obligatorio</mat-error>
              <mat-error *ngIf="numeroDocumento.invalid && (numeroDocumento.dirty || numeroDocumento.touched) && numeroDocumento.errors.minlength">El
                documento debe tener mínimo 8 dígitos</mat-error>
            </mat-form-field>
            <button mat-icon-button color="primary"><mat-icon>done</mat-icon></button>
          </mat-card-content>-->
        </mat-card>
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
              <div class="card" style="border-color: orange;">
                <div class="card-header" style="border-color: orange;">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-lg-12">
                        <label>Direcciones</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="example-button-row">
                    <div class="container">
                      <div class="row">
                        <div class="col-lg-11">
                          <mat-form-field class="example-chip-list">
                            <mat-chip-list #chipList>
                              <mat-chip *ngFor="let direc of direccionService.direccion" [selectable]="selectable"
                                [removable]="removable" (removed)="remove(direc)" id="{{direc._id}}" (click)=" direccionselec(direc._id,direc.nombreicon)"
                                matTooltip="{{direc.direccion}}" matTooltipClass="estilo-tooltip" class="matchips">
                                <mat-icon>{{direc.nombreicon}}</mat-icon>{{direc.distrito}}
                              </mat-chip>
                            </mat-chip-list>
                          </mat-form-field>
                        </div>
                        <div class="col-lg-1"><button mat-mini-fab (click)="mostrarformdir()" style="background-color: orange">
                            <mat-icon>{{nombreicondir}}</mat-icon>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="Agregardireccion" hidden>
                    <form #fomrdireccionnueva="ngForm" (ngSubmit)="AgregarDireccion(fomrdireccionnueva)">
                      <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="direccionService.selecDireccion._id">
                      <input type="hidden" name="usuario" #usuario="ngModel" [(ngModel)]="direccionService.selecDireccion.usuario">
                      <div class="card-header">Nueva dirección</div>
                      <div class="card-body">
                        <div class="container">
                          <div class="row">
                            <div class="col-lg-4">
                              <mat-form-field appearance="outline" style="width: 100%">
                                <mat-select name="departamento" #departamento="ngModel" [(ngModel)]="direccionService.selecDireccion.departamento"
                                  (selectionChange)="departamentoSelected($event.value)" placeholder="Departamento">
                                  <mat-option *ngFor="let dep of regionService.regiones" [value]="dep.departamento">{{dep.departamento}}</mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                            <div class="col-lg-4">
                              <mat-form-field appearance="outline" style="width: 100%">
                                <mat-select name="provincia" #provincia="ngModel" [(ngModel)]="direccionService.selecDireccion.provincia"
                                  (selectionChange)="provinciaSelected($event.value)" placeholder="Provincia">
                                  <mat-option *ngFor="let prov of regionService.departamentoSelected.provincias"
                                    [value]="prov.provincia">{{prov.provincia}}</mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                            <div class="col-lg-4">
                              <mat-form-field appearance="outline" style="width: 100%">
                                <mat-select name="distrito" #distrito="ngModel" [(ngModel)]="direccionService.selecDireccion.distrito"
                                  placeholder="Distrito">
                                  <mat-option *ngFor="let dis of regionService.provinciaSelected.distritos" [value]="dis">{{dis}}</mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                        <div class="container-fluid">
                          <div class="row">
                            <div class="col-lg-8">
                              <mat-form-field appearance="outline" style="width: 100%">
                                <mat-label>Direccion</mat-label>
                                <input matInput placeholder="Direccion" name="direccion" #direccion="ngModel"
                                  [(ngModel)]="direccionService.selecDireccion.direccion">
                                <mat-icon matSuffix>store_mall_directory</mat-icon>
                              </mat-form-field>
                            </div>
                            <div class="col lg 4">
                              <mat-form-field style="width: 100%">
                                <mat-select  name="tipolocal" #tipolocal="ngModel" [(ngModel)]="direccionService.selecDireccion.tipolocal"
                                  placeholder="Tipo de Vivienda">
                                  <mat-option *ngFor="let localitem of Local" value="{{localitem.value}}">
                                    {{localitem.value}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                        <div class="container">
                          <div class="row">
                            <div class="col-lg-8">
                              <mat-form-field appearance="outline" style="width: 100%">
                                <mat-label>Referencia</mat-label>
                                <input matInput placeholder="Referencia" name="referencia" #referencia="ngModel"
                                  [(ngModel)]="direccionService.selecDireccion.referencia">
                                <mat-icon matSuffix>rate_review</mat-icon>
                              </mat-form-field>
                            </div>
                            <div class="col-lg-4">
                              <mat-form-field appearance="outline" style="width: 100%;">
                                <mat-label>Teléfono/Celular</mat-label>
                                <input matInput placeholder="Teléfono/Celular" name="telefono" #telefono="ngModel"
                                  [(ngModel)]="direccionService.selecDireccion.telefono">
                                <mat-icon matSuffix>local_phone</mat-icon>
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                        <div class="container">
                          <div class="row">
                            <div class="col-lg-5"></div>
                            <div class="col-lg-4">
                              <button mat-flat-button style="background-color: orange">Agregar Dirección</button>
                            </div>
                            <div class="col-lg-3"></div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div id="Resumendir" hidden>
                    <div class="container">
                      <div class="row">
                        <div class="col-lg-3"></div>
                        <div class="col-lg-7">
                          <mat-card class="example-card">
                            <mat-card-header>
                              <div mat-card-avatar class="example-header-image">
                                <mat-icon style="font-size: 300%;background-size: cover">{{logocard}}</mat-icon>
                              </div>
                              <mat-card-title><label id="lbtipolocal"></label></mat-card-title>
                              <mat-card-subtitle><label id="lbdirec"></label></mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                              <p>
                                <mat-icon matSuffix>local_library</mat-icon>&nbsp;Departamento:&nbsp;<label id="lbdepartamento"></label>
                              </p>
                              <p>
                                <mat-icon matSuffix>map</mat-icon>&nbsp;Provincia:&nbsp;<label id="lbprovincia"></label>
                              </p>
                              <p>
                                <mat-icon matSuffix>place</mat-icon>&nbsp;Distrito:&nbsp;<label id="lbdistrito"></label>
                              </p>
                              <p>
                                <mat-icon matSuffix>rate_review</mat-icon>&nbsp;Referencia:&nbsp;<label id="lbreferencia"></label>
                              </p>
                              <p>
                                <mat-icon matSuffix>local_phone</mat-icon>&nbsp;Telefono:&nbsp;<label id="lbtelefono"></label>
                              </p>
                            </mat-card-content>
                          </mat-card>
                        </div>
                        <div class="col-lg-2"></div>
                      </div>
                    </div>
                  </div>
                  <hr>
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-5"></div>
                      <div class="col-lg-2">
                        <div class="example-button-row">
                          <button id="btnsig1" mat-stroked-button color="warn" style="display: none;" matStepperNext>Siguiente</button>
                        </div>
                      </div>
                      <div class="col-lg-5"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-2"></div>
          </div>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" state="met" id="stepinfo" [optional]="false">
      <ng-template matStepLabel>Informacion de Pago</ng-template>
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-2"></div>
          <div class="col-lg-8">
            <div class="card">
              <div class="card-header">
                <label>Método de Pago</label>
              </div>
              <div class="card-body">
                <form>
                  <mat-card>
                    <mat-card-header>
                      <mat-card-title>Pago con Tarjeta</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                      <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-icon matPrefix>credit_card</mat-icon>
                        <mat-label>Número de Tarjeta</mat-label>
                        <input matInput placeholder="Número de tarjeta" type="text" size="20" data-culqi="card[number]"
                          id="card[number]">
                      </mat-form-field>
                      <mat-form-field appearance="outline" style="width: 30%;">
                        <mat-icon matPrefix>calendar_today</mat-icon>
                        <mat-label>Fecha expiración (MM)</mat-label>
                        <input matInput placeholder="MM" size="2" data-culqi="card[exp_month]" id="card[exp_month]">
                      </mat-form-field>
                      <mat-form-field appearance="outline" style="width: 30%">
                        <mat-icon matPrefix>calendar_today</mat-icon>
                        <mat-label>Fecha expiración (YYYY)</mat-label>
                        <input matInput placeholder="YYYY" size="4" data-culqi="card[exp_year]" id="card[exp_year]">
                      </mat-form-field>
                      <mat-form-field appearance="outline" style="width: 40%">
                        <mat-label>CVV</mat-label>
                        <mat-icon matPrefix>lock</mat-icon>
                        <input matInput placeholder="CVV" type="text" size="4" data-culqi="card[cvv]" id="card[cvv]">
                      </mat-form-field>
                      <mat-form-field appearance="outline" style="width: 100%">
                        <mat-label>Correo Electrónico</mat-label>
                        <mat-icon matPrefix>email</mat-icon>
                        <input matInput placeholder="Correo electrónico" type="text" size="50" data-culqi="card[email]"
                          id="card[email]">
                      </mat-form-field>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-raised-button color="accent" (click)="pagar()" style="width: 100%;" matStepperNext>PAGAR S/ {{preciototal}}.00</button>
                    </mat-card-actions>
                  </mat-card>
                </form>
              </div>
              <div class="container">
                <div class="row">
                  <div class="col-lg-5"></div>
                  <div class="col-lg-2">
                    <div class="example-button-row">
                     <!-- <button id="btnsig2" mat-stroked-button color="warn" >Siguiente</button>-->
                    </div>
                  </div>
                  <div class="col-lg-5"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-2"></div>
      </div>
    </mat-step>
    <mat-step state="res">
      <form>
        <ng-template matStepLabel>Resumen del Pedido</ng-template>
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
              <form #fomrguardarventa="ngForm">
                <input type="hidden" name="_id2" #_id2="ngModel" [(ngModel)]="pagoservice.selectPago._id">
                <div class="card">
                  <div class="card-header"><label>Total: s/.{{preciototal}}</label></div>
                  <div class="card-body">
                    <p>SubTotal: s/.{{subtotal}}</p>
                    <p>Monto de envio: s/.{{montoenvio}}</p>
                    <p>Total a pagar: s/.{{preciototal}}</p>
                  </div>
                  <!--   <div class="card-header">
                    <p>Fecha de entrega</p>
                    <mat-form-field>
                      <input matInput [matDatepicker]="picker" placeholder="Choose a date">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </div>-->
                  <div class="card-body">
                    <p>Dirección</p>
                    <p>{{direccionsel}}</p>
                  </div>
                  <div class="card-body">
                    <p>Articulos</p>
                    <!--tabla material-->
                    <mat-accordion>
                      <mat-expansion-panel *ngFor="let artiped of listaArticulos">
                        <mat-expansion-panel-header>
                          <mat-panel-title style="font-size: 10px;">
                            {{artiped.titulo}}
                          </mat-panel-title>
                          <!-- <mat-panel-description>
                            {{artiped.precio}}
                          </mat-panel-description>-->
                        </mat-expansion-panel-header>
                        <table class="table" *ngIf="artiped.tipolinea=='PREPAGO'">
                          <tr>
                            <td rowspan=3> <img class="img-fluid card-img-top centrarimg" style="height: 180px; width: auto;"
                                src="{{url_imagenes_md}}/{{artiped.imagen}}" alt="{{artiped.imagen}}"> </td>
                            <td>Linea:</td>
                            <td>{{artiped.tipolinea}}</td>
                            <td>Plan:</td>
                            <td>{{artiped.nombreplan}}</td>
                          </tr>
                          <tr>
                            <td>Precio:</td>
                            <td>{{artiped.precio}}</td>
                          </tr>
                        </table>
                        <table class="table" *ngIf="artiped.tipolinea=='POSTPAGO'">
                          <tr>
                            <td rowspan=3> <img class="img-fluid card-img-top centrarimg" style="height: 180px; width: auto;"
                                src="{{url_imagenes_md}}/{{artiped.imagenes[0]}}" alt="{{artiped.imagenes[0]}}"> </td>
                            <td>Linea:</td>
                            <td>{{artiped.tipolinea}}</td>
                            <td>Plan:</td>
                            <td>{{artiped.nombreplan}}</td>
                          </tr>
                          <tr>
                            <td>Cuota inicial:</td>
                            <td>{{artiped.cuotainicial}}</td>
                            <td>Cuota mensual</td>
                            <td>{{artiped.cuotamensual}} por {{artiped.cuotas}} menses</td>
                          </tr>
                          <tr>
                            <td>Precio:</td>
                            <td>{{artiped.precio}}</td>
                          </tr>
                        </table>
                      </mat-expansion-panel>
                    </mat-accordion>
                    <!--tabla material-->
                  </div>
                  <button class="btn btn-success" style="background-color: orange" routerLink="/home">Regresar al Inicio</button>
                </div>
              </form>
            </div>
            <div class="col-lg-2"></div>
          </div>
        </div>
      </form>
    </mat-step>
    <!--icons stepps-->
    <ng-template matStepperIcon="direc">
      <mat-icon>home</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="met">
      <mat-icon>credit_card</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="res">
      <mat-icon>my_library_books</mat-icon>
    </ng-template>
    <!--fin-->
  </mat-horizontal-stepper>
  <!--fin stepps-->
</div>
