mat-card {
  padding: 8px !important;
}

mat-form-field.mat-form-field {
  font-size: 15px;
}

.btn {
  margin: 2px;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
  margin-left: 115px;
}

.centrarimg {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.estilo-tooltip {
  background: orange;
  font-size: 60%;
}

.example-chip-list {
  width: 100%;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-size: cover;
}

.mat-horizontal-content-container {
  padding: 0px 4px 4px 4px !important;
}

/*card*/
.wrapper {
  background-color: black;
  color: white;
  display: flex;
  flex-flow: row nowrap;
  min-height: 100%;
  width: 300px;
}

#contenido {
  margin: 5px;
}

#formulario-pago,
#formulario-pago .row .col-lg-8 {
  padding: 0px;
}

#tarjeta,
#correo,
#cvv {
  width: 100%;
}

#mes-tarjeta,
#anio-tarjeta {
  width: 50%;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  mat-card {
    padding: 16px !important;
  }

  .mat-horizontal-content-container {
    padding: 0px 24px 24px 24px !important;
  }

  #mes-tarjeta,
  #anio-tarjeta {
    width: 30%;
  }

  #cvv {
    width: 40%;
  }
  
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}
