<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<form action="">
  <div class="row" style="text-align: center">
    <div class="col col-12">
      <label>Usuario</label>
      <input type="text">
    </div>
    <div class="col col-12">
        <label>Contraseña</label>
        <input type="password">
    </div>
    <div class="col col-12">
        <button class="btn btn-success">Basic</button>
      </div>
  </div>
</form>
