.carousel-item {
  min-height: 75vh;
  background: no-repeat top center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100% auto;
}

#carouselExampleIndicators{
  height:33vw;
}


