
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <!-- Slide 1 -->
          <div class="carousel-item active" style="background-image: url('http://www.claro.com.pe/recursos_contenido/personas/7030617b-fc58-45a7-b0c4-eff02224da98-Prepago_Chevere_Principal_Desktop_1920x640.jpg')">
            <div class="carousel-caption d-none d-xl-block">
              <h3>Primero</h3>
              <p>La tienda del tio George</p>
            </div>
          </div>
          <!-- Slide 1 -->
          <div class="carousel-item" style="background-image: url('https://static.claro.com.pe/img/otros/banner_prepago_desktop_1590x550_152018.jpg')">
            <div class="carousel-caption d-none d-xl-block">
              <h3>Segundo</h3>
              <p>La tienda del tio George</p>
            </div>
          </div>
          <!-- Slide 1 -->
          <div class="carousel-item" style="background-image: url('https://static.claro.com.pe/img/otros/Bono-Gigas-1590x550-1510-Y5.jpg')">
            <div class="carousel-caption d-none d-xl-block">
              <h3>Tercero</h3>
              <p>La tienda del tio George</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Siguiente</span>
        </a>
      </div>
  