
    <div id="carousel" class="carousel slide carousel-showmanymoveone" data-ride="carousel" data-interval="6000">

        <div class="carousel-inner row no-gutters w-100 mx-auto" role="listbox">
          
            <div class="carousel-item active col-sm-4 col-md-3">
                     <img src="https://dummyimage.com/800x800" alt="responsive image" class="d-block img-fluid">

                    <div class="carousel-caption">
                        <div>
                            <h2>1</h2>
                            <p>A B C D</p>
                            <span class="btn btn-sm btn-outline-secondary">boton</span>
                        </div>
                    </div>
           
            </div>
            <!-- /.carousel-item -->
            <div class="carousel-item col-sm-4 col-md-3">
                     <img src="https://dummyimage.com/800x800" alt="responsive image" class="d-block img-fluid">

                    <div class="carousel-caption justify-content-center align-items-center">
                        <div>
                            <h2>2</h2>
                            <p>A B C D</p>
                            <span class="btn btn-sm btn-outline-secondary">boton</span>
                        </div>
                    </div>

            </div>
            <!-- /.carousel-item -->
            <div class="carousel-item col-sm-4 col-md-3">


                  <img src="https://dummyimage.com/800x800" alt="responsive image" class="d-block img-fluid">
                  
                    <div class="carousel-caption justify-content-center align-items-center">
                        <div>
                            <h2>3</h2>
                            <p>A B C D</p>
                            <span class="btn btn-sm btn-secondary">boton</span>
                        </div>
                    </div>

            </div>
            <!-- /.carousel-item -->
                      <div class="carousel-item col-sm-4 col-md-3">
                    <img src="https://dummyimage.com/800x800" alt="responsive image" class="d-block img-fluid">

                    <div class="carousel-caption justify-content-center align-items-center">
                        <div>
                            <h2>4</h2>
                            <p>A B C D</p>
                            <span class="btn btn-sm btn-secondary">boton</span>
                        </div>
                    </div>

            </div>
            <!-- /.carousel-item -->
                   <div class="carousel-item col-sm-4 col-md-3">

                    <img src="https://dummyimage.com/800x800" alt="responsive image" class="d-block img-fluid">

                    <div class="carousel-caption justify-content-center align-items-center">
                        <div>
                            <h2>5</h2>
                            <p>A B C D</p>
                            <span class="btn btn-sm btn-secondary">boton</span>
                        </div>
                    </div>
    
            </div>
            <!-- /.carousel-item -->
                      <div class="carousel-item col-sm-4 col-md-3">
       
                     <img src="https://dummyimage.com/800x800" alt="responsive image" class="d-block img-fluid">

                    <div class="carousel-caption justify-content-center align-items-center">
                        <div>
                            <h2>6</h2>
                            <p>A B C D</p>
                            <span class="btn btn-sm btn-secondary">boton</span>
                        </div>
                    </div>
            
            </div>
            <!-- /.carousel-item -->
          
        </div>
        <!-- /.carousel-inner -->
        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Siguiente</span>
        </a>
    </div>
    <!-- /.carousel -->

<!-- /.container -->