
<div  id="ventana-chat" class="card shadow-lg bg-light" style="position: fixed; right: 0; bottom: 0;margin: 5px !important; z-index: 100;width: 290px; height: 450px;border:1px solid rgb(209, 209, 209);" hidden="true">
  <div class="card-header" style="background-color: #212529; color: white; padding-top: 5px !important; padding-bottom: 5px !important;" >
    <div style="display: flex; flex-direction: row; align-items: center;">
      <div style="flex-grow:0; width: 95%;">
        <label>Chat</label>
      </div> 
      <div style="flex-grow:0; width: 5%; margin-bottom: 5px; cursor: pointer;">
        <i class="fa fa-close" (click)="cerrarChat()"></i>
      </div>
    </div>
    
    
  </div>
</div>

<div  id="btnchat" style="position: fixed; right: 0; bottom: 0;margin: 5px; z-index: 100;">
  <button mat-fab color="primary"  (click)="mostrarChat()"><i class="fa fa-comments" style="font-size: 20px;"></i></button>
</div>

