mat-form-field {
  width: 100%;
}

.card-body {
  padding: 5px !important;
}

.card-body div label, .card-header div div label, mat-select, mat-option, textarea {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card-header {
  background: linear-gradient(to right, #8700ff, #3863a7);
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
}

.card-header div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card-header div div:first-child {
  flex-grow: 0;
  width: 80%;
}

.card-header div div:first-child label {
  margin: 0px;
  padding: 0px;
}

.card-header div div {
  flex-grow: 0;
  width: 10%;
  margin-bottom: 5px;
  cursor: pointer;
  text-align: center;
}

.contenido-chat::-webkit-scrollbar {
  width: 6px;
  background-color: rgb(199, 195, 195);
}

.contenido-chat {
  height: 330px;
  overflow: auto;
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  color: black;
}

.imagen-chat {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.info-mensaje div,
.footer-chat div {
  flex-grow: 0;
}

.item-mensaje-admin {
  border-radius: 20px;
  padding: 8px 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  flex-grow: 0;
  color: rgb(0, 0, 0);
  background-color: #dae0e7;
  border: 2px solid rgb(224, 219, 219);
  max-width: 80%;
  font-size: small;
}

.item-mensaje-user {
  border-radius: 20px;
  padding: 8px 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  flex-grow: 0;
  color: white;
  background-color: #212529;
  border: 2px solid rgb(39, 39, 39);
  max-width: 80%;
  font-size: small;
}

.mensaje-admin {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.mensaje-admin div div:first-child {
  width: 70%;
}

.mensaje-admin div div:nth-child(2),
.mensaje-user div div:nth-child(2) {
  width: 20%;
}

.mensaje-admin div div:nth-child(3) {
  width: 50%;
  text-align: right;
}

.mensaje-admin div div:nth-child(3) label,
.mensaje-admin div div:first-child,
.mensaje-user div div:first-child label,
.mensaje-user div div:nth-child(3) label {
  margin: 0px;
}

.mensaje-user {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 10px;
  flex-wrap: wrap;

}

.mensaje-user div div:first-child {
  width: 50%;
}

.mensaje-user div div:nth-child(3) {
  width: 30%;
  text-align: right;
}

.info-mensaje {
  width: 100%;
  justify-content: space-between;
  font-size: 12px;
  font-style: italic;
  color: #4d4e50;
  display: flex;
  flex-direction: row;
}

.footer-chat {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  vertical-align: middle;
}

.footer-chat input:focus,
.footer-chat button:focus {
  outline: none !important;
  border-color: rgba(255, 255, 255, 0);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0);
}

.eventoChat {
  text-align: center;
  border-radius: 20px;
  padding: 5px 10px;
  flex-grow: 0;
  color: whitesmoke;
  background-color: black;
  border: 2px solid rgb(224, 219, 219);
  min-width: 100%;
  font-size: small;
}

#conectarChat div,
#conectarChat div button {
  width: 100%;
}

#enviarMensaje {
  border: 1px solid rgb(155, 153, 153);
}

#enviarMensaje div:first-child {
  width: 85%;
}

#enviarMensaje div:nth-child(2) {
  width: 15%;
}

#inputMensaje {
  width: 100%;
  border: 1px solid rgb(255, 252, 252);
  height: 40px;
  padding-left: 8px;
}

#enviarMensaje div:nth-child(2) button {
  height: 40px;
  width: 100%;
  border: 0px solid white;
  background-color: white;
  cursor: pointer;
}

@media (min-width: 320px) {
  .contenedor-chat-prin {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 2000;
    width: 100%;
    height: 100%;
    border: 1px solid #6e6f70;
  }

  .contenido-chat {
    height: 90%;
  }

  .btn-chat-prin {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 5px;
    z-index: 100;
  }
}

@media (min-width: 768px) {
  .contenedor-chat-prin {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 5px !important;
    z-index: 100;
    width: 290px;
    height: 450px;
    border: 1px solid #6e6f70;
  }

  .contenido-chat {
    height: 330px;
  }

  .btn-chat-prin {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 5px;
    z-index: 100;
  }
}

@media (min-width: 992px) {
  .contenedor-chat-prin {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 5px !important;
    z-index: 100;
    width: 290px;
    height: 450px;
    border: 1px solid #6e6f70;
  }

  .contenido-chat {
    height: 330px;
  }

  .btn-chat-prin {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 5px;
    z-index: 100;
  }
}
