<div class="container">            
  <div class="row">
      <div class="col-12 col-sm-12 col-md-8 col-lg-6 mx-auto">
          <div class="card card-signin my-5">
              <form #usuarioForm="ngForm" class="form-signin"  (ngSubmit)="registrar(usuarioForm)">
                <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="servicioUsuario.usuarioSeleccionado._id">
                  <div class="card-body">
                        <img id="btn-back" src="assets/images/back.png" alt="" routerLink="/login">
                        <h5 class="card-title text-center" style="margin-top: -25px;"><img src="assets/images/new-user.png" > Nuevo Usuario </h5>
                        <hr>
                      <div class="form-label-group">
                          <label for="txCodigo" class="etiqueta">Nombres</label>
                          <input type="text" placeholder="Ingrese Nombres" type="text" name="nombres" #name="ngModel" [(ngModel)]="servicioUsuario.usuarioSeleccionado.nombres" id="nombres" class="form-control" required autofocus>
                      </div>

                      <div class="form-label-group">
                          <label  class="etiqueta">Apellidos</label>
                          <input type="text" placeholder="Ingrese Apellidos" type="text" name="apellidos" #name="ngModel" [(ngModel)]="servicioUsuario.usuarioSeleccionado.apellidos" id="apellidos" class="form-control" required>
                          
                      </div>
                      <div class="form-label-group">
                          <div class="row">
                            <div class="col col-lg-6">
                                <label class="etiqueta">Email</label>
                                <input type="email" placeholder="Ingrese email" type="email" name="correo" #name="ngModel" [(ngModel)]="servicioUsuario.usuarioSeleccionado.correo" id="email" class="form-control" required>
                                
                            </div>
                            
                            <div class="col col-lg-6">
                                <label class="etiqueta">Contraseña</label>
                                <input type="password" placeholder="Ingrese contraseña" type="password" name="contrasena" #name="ngModel" [(ngModel)]="servicioUsuario.usuarioSeleccionado.contrasena" id="password" class="form-control" required>
                                
                            </div>
                          </div>

                      </div>
                      <br>
                      <div class="form-label-group">
                          <label><input type="checkbox" value=""> Recibir promociones en tu email</label>
                      </div>
                        <div class="form-label-group">
                            <label>Al registrarse acepta los <a href="/terminosycondiciones" style="color: orange;">terminos y condiciones</a> y nuestras <a href="/politicas">politicas de privacidad</a></label>
                      </div>                      
                  </div>
                  <div class="card-body" style="margin-top: -18px;">
                      <button class="btn btn-lg btn-secondary btn-block text-uppercase" type="submit" id="btniniciosesion"> Registrarse</button>
                  </div>
                  <div class="card-body" id="footer-login">
                      <div class="form-label-group">
                        <div class="row">

                          <div class="col col-lg-6 col-md-12 col-sm-12">
                              <label> Registrate con :</label>
                              <button type="button" class="btn btn-default btn-circle" id="boton-facebook" aria-placeholder="Facebook"><i class="fab fa-facebook-f"></i>
                              </button>
                              <button type="button" class="btn btn-primary btn-circle" id="boton-google" placeholder="Google"><i class="fab fa-google"></i>
                              </button>
                              <button type="button" class="btn btn-success btn-circle" id="boton-twitter" placeholder="Twitter"><i class="fab fa-twitter"></i>
                              </button> 
                          </div>
                          <div class="col col-lg-6 col-md-12 col-sm-12">
                              <label style="text-align: right" style="margin-top: 5px;">¿Ya eres usuario? <a routerLink="/login">Inicia Sesion</a></label>                           
                          </div>
                        </div>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>