.contenido{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background: white;
}

.cont-images{
    width: 100%;
}
.image-select{
    width: 100%;
    padding: 5px;
    
}
.list-image{
    width: 100%;
}
.imagen{
    width: 100%;
    border: 1px solid gray;
}
.list-image{
    padding: 5px;
    display: flex;
    overflow-y: scroll;
}
.item-image{
   
    transition: 0.2s;
}
.item-image:hover{
    transform: scale(1.2);
}
.imagen-p{
    border: 1.5px solid orange;
    border-radius: 5px;
    margin: 0.5rem;
}
.name-articulo{
    padding: 10px;
    text-align: left;
    font-weight: bold;
}
.list-image::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
    border-radius: 10px;
    width: 5px;
	background-color: #F5F5F5;
}
.list-image::-webkit-scrollbar
{
    width: 0px;
    height: 5px;
	background-color: #F5F5F5;
}
/*.list-image::-webkit-scrollbar-button
{
	width: 5px;
	background-color: rgb(87, 87, 87);
}*/

.list-image::-webkit-scrollbar-thumb
{
    border-radius: 2px;
    width: 2px;
	-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,.3);
	background-color: #555;
}
