.contenido{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background: white;
}

.cont-images{
    width: 100%;
}

.imagen{
    border: 1px solid gray;
}
.list-image{
    width: 90%;
    padding: 5px;
    margin: auto;
    display: flex;
    overflow-y: scroll;
    margin-bottom: 20px;
}
.item-image{
    margin: auto;
    transition: 0.2s;
}
.item-image:hover{
    transform: scale(1.2);
}
.imagen-p{
    border: 1.5px solid orange;
    border-radius: 5px;
    margin: 0.5rem;
}
.name-articulo{
    padding: 10px;
    text-align: left;
    font-weight: 5px;
}
.breadcrumb{
    padding: 10px;
    text-align: left;
    font-weight: bold;
}
.estrella{
    margin: 2px;    
}
.estrella:hover{
    content: url("/assets/images/star2.png");
}

.item-planes{
    display: inline-block; 
    width: 150px; 
    height: 140px;
    border: 1px solid orange; 
    padding: 10px; 
    margin: 5px;
    border-radius: 12px;    

}
.item-planes:hover{
    background-color: rgba(175, 172, 165, 0.397);
    cursor: pointer;

}


/* navagador chrome*/
.list-image::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
    border-radius: 10px;
    width: 5px;
	background-color: #F5F5F5;
}
.list-image::-webkit-scrollbar
{
    width: 0px;
    height: 5px;
	background-color: #F5F5F5;
}


.list-image::-webkit-scrollbar-thumb
{
    border-radius: 2px;
    width: 2px;
	-webkit-box-shadow: inset 0 0 1px rgba(221, 101, 2, 0.568);
	background-color:orange;
}
.info-articulo{
    width: 100%;
    border: 1px solid rgb(255, 255, 255);
    position: relative; 
    margin-top:-350px;
}


#imagen-zoom{
    top: 0%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: transform .5s ease-out;
}
.cont-imagen-zoom{
    position: absolute;
    top: -3px;
    left: 130px;
    width: 350px;
    height: 250px;
    z-index: 100;
    overflow: hidden;
    display: none;
    background-color: white;
    cursor:url("/assets/images/lupa-cursor.png"), auto;
}

.colores{
    background-color: black; 
    border: 1px solid orange; 
    width: 20px; 
    height: 20px; 
    display: inline-block ; 
    margin-right: 5px;
    margin-top: 7px;
    transition: 0.5s;
}
.contenedor-colores{
    display: inline;
    margin-left: -50px;
}
.colores:hover{
    cursor: pointer;
    transform: scale(1.2);
}
.contenedor-detalle{
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;

}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 360px) {
    .image-select{
        width: 100%;
        padding: 5px;
        
    }
    .list-image{
        width: 100%;
    }
    .breadcrumb{
        width: 100%;
        background: white;
        height: 50px;   
        color: rgb(65, 65, 65);    
    
    }
    .breadcrumb a{
        color: rgb(54, 53, 50);
        padding-left:5px;
        padding-right: 5px; 
    }
    .breadcrumb a:hover{
        color: orange;
    }
    .info-articulo{
        position: block;
        margin-top:0px;
    }
}
.btn-planes{
    width: 6%;
    height: 160px; 
    align-items: center;
    display:flex; 
    flex-direction:row;
}
.btn-planes:hover{
    cursor: pointer;
}
.card-planes{
    width: 175px;
    height: 160px;
    border: 1px solid #ff7b007c; 
    border-radius: 10px; 
    margin: 8px;
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .contenido{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        background: white;
        
        padding-bottom: 100px;
        position: relative;
    }
    .cont-images{
        position: relative;
        width: 100%;
    }
    .image-select{
        position: relative;
        width: 45%;
        padding: 5px;
        padding-left: 130px;
        height: 340px;
        
    }
    .list-image{
        position: absolute;
        width: 100px;
        padding: 5px;
        display: block;
        overflow-y: scroll;
        margin-bottom: 20px;
        top: 0px;
        height: 70%;
        margin-left: 20px;
    }
    .list-image::-webkit-scrollbar
    {
        width: 5px;
        height: 0px;
        background-color: #F5F5F5;
    }
    .item-image{
        margin: auto;
        transition: 0.2s;
        width: 80px;
    }
    .item-image:hover{
        transform: scale(1.2);
    }
    .info-articulo{
        position: relative;
        top: 0px;
        left: 45%;
        width: 50%;
        border: 1px solid rgb(255, 255, 255);
        margin-top:-350px;
        
    }
    .name-articulo{
        padding-left: 30px;
        width: 70%;
    }
    .breadcrumb{
        width: 100%;
        background: white;
        height: 50px;   
        color: rgb(65, 65, 65);   
     

    }
    .breadcrumb a{
        color: rgb(54, 53, 50);
        padding-left:5px;
        padding-right: 5px; 
    }
    .breadcrumb a:hover{
        color: orange;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}
/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    
}