<div class="contenido">
    <div class="breadcrumb"> 
        <a href=""> Inicio </a> /
        <a href=""> Articulos </a> /
        <a href=""> Celulares </a> /
        <a href=""> ?????????? </a> 
    </div>
    <hr style="margin-top: -20px;">
    <div class="name-articulo">
            [Versión Española] Smartphone Xiaomi Pocophone F1 de 6.18" (Android, Memoria interna de 64 GB, RAM de 6 GB, Cámara trasera de 12 MP, Doble Tarjeta SIM, Cámara frontal de 20 MP) Negro / Azul Móviles libres
    </div>

    <div class="cont-images">
        <div class="image-select">
            <img class="imagen" src="//placehold.it/600x400?text=2">
        </div>
        <div class="list-image"> 
            <div class="item-image">
                <img class="imagen-p" src="//placehold.it/60x50?text=1">
            </div>
            <div class="item-image">
                <img class="imagen-p" src="//placehold.it/60x50?text=2">
            </div>
            <div class="item-image">
                <img class="imagen-p" src="//placehold.it/60x50?text=3">
            </div>
            <div class="item-image">
                <img class="imagen-p" src="//placehold.it/60x50?text=3">
            </div>
            <div class="item-image">
                <img class="imagen-p" src="//placehold.it/60x50?text=3">
            </div>
            <div class="item-image">
                <img class="imagen-p" src="//placehold.it/60x50?text=3">
            </div>
        </div>
        <div class="info-articulo">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="valoracion">
                                <img  class="estrella" src="assets/images/star.png">
                                <img  class="estrella" src="assets/images/star.png">
                                <img  class="estrella" src="assets/images/star.png">
                                <img  class="estrella" src="assets/images/star.png">
                                <img  class="estrella" src="assets/images/star.png">
                                <label style="padding-left: 10px;">0 Comentarios</label>
                        </div>                 
                    </div>
                   
                    <div class="col-lg-12">
                        <hr>
                        
                        <label style="color: rgb(75, 74, 74); font-size: 40px;">Precio : S/ 0</label>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-2 col-sm-12 col-sx-12">
                                        <label style="padding-top: 5px;">Cantidad : </label>
                                </div>
                                <div class="col-lg-8 col-sm-12 col-sx-12">
                                        <select class="form-control" id="cantidad" style="width: 100px;">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                        </select>
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>
                    <div class="col-lg-12">
                            <button type="button" class="btn btn-primary">Primary</button>
                            <button type="button" class="btn btn-secondary">Secondary</button>
                            <button type="button" class="btn btn-success">Success</button>
                            <button type="button" class="btn btn-danger">Danger</button>
                            <button type="button" class="btn btn-warning">Warning</button>
                            <button type="button" class="btn btn-info">Info</button>
                            <button type="button" class="btn btn-light">Light</button>
                            <button type="button" class="btn btn-dark">Dark</button>
                            
                            <button type="button" class="btn btn-link">Link</button>
                    </div>

                </div>
            </div>
        </div>

    </div>
    
    
</div>
