<div class="contenido">
  <div class="breadcrumb" >
    <a href="/home"> Inicio </a> /
    <a href="/busqueda"> Articulos </a> /
    <a href=""> {{articuloService.categoria ? articuloService.categoria.nombre : 'Smartphones'}} </a> /
    <a href="/articulo/{{articuloService.articuloSeleccionado.titulo}}"> {{articuloService.articuloSeleccionado.titulo}}</a>
  </div>
  <div class="contenedor-articulo">
    <div class="contenedor-articulo-det">
      <div class="contenidor-imagenes">        
        <div class="cont-items-img-small">              
          <div class="item-imagen"*ngFor="let imagen of articuloService.articuloSeleccionado.imagenes"  (mouseover)="cambiar_imagen(imagen)">
            <img class="img-item" src="{{articuloService.url_imagenes_sm}}/{{imagen}}" alt="">
          </div>
        </div>        
        <div class="cont-img-select"  id="imagen-origen" (mouseover)="mouse_over()" (mouseout)="mouse_out()" (mousemove)="mouse_move($event)">   
          <div id="lente" class="img-zoom-lens"  >

          </div>
          <img class="imagen-grande"  id="imagen-seleccionada" src="" alt="" >
        </div>
        <div class="cont-zoom-result"  [hidden]="ocultarZoom"  id="resultado-zoom">
        </div>
      </div>
      <div class="contenedor-info-articulo">
          <div class="name-articulo">
              {{articuloService.articuloSeleccionado.titulo}}
          </div>
          <div class="valoracion">
              <div id="valoracionPromedio"> 
                  <img class="estrella1" alt="{{puntuacionPromedio}}" src="assets/images/star.png">
                  <img class="estrella2" alt="{{puntuacionPromedio}}" src="assets/images/star.png">
                  <img class="estrella3" alt="{{puntuacionPromedio}}" src="assets/images/star.png">
                  <img class="estrella4" alt="{{puntuacionPromedio}}" src="assets/images/star.png">
                  <img class="estrella5" alt="{{puntuacionPromedio}}" src="assets/images/star.png">
            </div>
              <div>
                  <label style="padding-left: 10px; font-size: 14px; " >{{numeroComentarios}} Comentarios</label>
              </div>             
          </div>
          <div><hr style="margin: 0px; padding: 0px;"></div>
          <br>
          <div class="cont-lineas" style="width: 100%; padding-left: 10px; display: flex; flex-direction: row;flex-wrap: wrap;">
              <div class="cont-selec" >
                  <h6 style="margin-bottom: 5px;">Tipo Linea:</h6>
                  <div class="input-select" >
                      <mat-select style="padding-left: 4px; padding-right: 4px;"  name="tipolinea"[(ngModel)]="tipoLineaSeleccionada" (selectionChange)="buscarPreciosFiltro()">
                          <mat-option *ngFor="let linea of listalineas" value="{{linea.valor}}">{{linea.nombre}}</mat-option>
                      </mat-select> 
                  </div>
                  
              </div>
              <div class="cont-select" style="width: 200px;"></div>
              <div class="cont-selec" [hidden]="controlTipoPlan">
                  <h6 style="margin-bottom: 5px;">Lo quiero en: </h6>
                  <div class="input-select">
                      <mat-select style="padding-left: 4px; padding-right: 4px;" name="tipoplan"[(ngModel)]="tipoPlanSeleccionado"  (selectionChange)="buscarPreciosFiltro()">
                          <mat-option *ngFor="let tipo of listatipoplanes" value="{{tipo.valor}}">{{tipo.nombre}}</mat-option>
                      </mat-select>
                  </div>                  
              </div>
              <div class="cont-selec"  [hidden]="controlCuotas" >
                  <h6 style="margin-bottom: 5px;">Pagar el equipo en:</h6>
                  <div class="input-select">
                      <mat-select  style="padding-left: 4px; padding-right: 4px;" name="tipocuota"[(ngModel)]="tipoCuotaSeleccionada" (selectionChange)="buscarPreciosFiltro()">
                          <mat-option *ngFor="let cuota of listacuotasSeleccionadas" value="{{cuota.valor}}">{{cuota.nombre}}</mat-option>
                        </mat-select>
                  </div>
                  
              </div>
            </div>
            <div class="cont-precios">
                <div class="btn-planes" (click)="moverScrollRigth()">                
                      <i class="material-icons" style="font-size: 35px;">chevron_left</i>                    
                </div>
                <div  style="width: 88%; display: flex; flex-direction: row; height: 210px; justify-content: center; align-items: center;" [hidden]="!nomostrarPrecios">
                  <div [hidden]="hayPrecios">
                      <mat-spinner style="width: 10px; height: 10px;"></mat-spinner>
                  </div>
                  <div [hidden]="!hayPrecios">
                    <label for=""> No se encontraron precios.</label>
                  </div>
                  
                </div>
                <div id="cont-carousel"  class="contenido-planes-equipo" [hidden]="nomostrarPrecios">
                    <div class="contenido-planes-equipo-carousel" id="contenido-planes-equipo" >
                  
                        <div *ngFor="let plan of listPreciosFiltro" (click)="seleccionarPlan(plan)">
                          <mat-card class="card-planes" *ngIf="plan.nombreplan != planSeleccionado.nombreplan">
                            <mat-card-content style="text-align: center;">
                              <h6 style="color: gray;"><strong>{{plan.nombreplan}}</strong> </h6>
                              
                                <div style=" display: flex; flex-direction: column; width: 100%;justify-content: center;">
                                  <div style="font-weight: bold; color: rgb(83, 82, 79); font-size: 12px;">Precio:</div>
                                  <div *ngIf="plan.tipolinea=='POSTPAGO'" style="font-weight: bold; color: rgb(43, 40, 40); font-size: 17px; width: 100%;">S/ {{plan.montomes.toFixed(2)}}{{almes}}</div>
                                  <div *ngIf="plan.tipolinea=='PREPAGO'" style="font-weight: bold; color: rgb(43, 40, 40); font-size: 17px; width: 100%;">S/ {{plan.precio.toFixed(2)}}</div>
      
                                </div>
                              <!--  <div style="width: 100%;">
                                  <button class="btn btn-link" style="color: grey">Ver Detalle Plan</button>
                                </div>-->
                            
                            </mat-card-content>
                          </mat-card> 
      
                          <mat-card class="card-planes-seleccionado" *ngIf="plan.nombreplan == planSeleccionado.nombreplan">
                            <mat-card-content style="text-align: center;">
                              <h6><strong>{{plan.nombreplan}}</strong> </h6>
                              
                                <div style=" display: flex; flex-direction: column; width: 100%;justify-content: center;">
                                  <div style="font-weight: bold; color: rgb(83, 82, 79); font-size: 12px;">Precio:</div>
                                  <div *ngIf="plan.tipolinea=='POSTPAGO'" style="font-weight: bold; color: #ff8c00; font-size: 17px; width: 100%;">S/ {{plan.montomes.toFixed(2)}}{{almes}}</div>
                                  <div *ngIf="plan.tipolinea=='PREPAGO'" style="font-weight: bold; color: #ff8c00; font-size: 17px; width: 100%;">S/ {{plan.precio.toFixed(2)}}</div>
      
                                </div>
                              <!--   <div style="width: 100%;">
                                  <button class="btn btn-link" style="color: rgb(36, 36, 39);">Ver Detalle Plan</button>
                                </div>-->
                            
                            </mat-card-content>
                          </mat-card>  
                        </div>       
                </div>
                
                    
                </div>
                <div class="btn-planes" (click)="moverScroll()">
                    <i class="material-icons" style="font-size: 35px;">chevron_right</i>
                </div>
            </div>  
      </div>
      
      <div class="contenedor-precios">
        <div class="contenedor-detalle-precio">
          <div>
              <div><h5>Precio del equipo</h5></div>           
              <div  style="font-weight: bold; color: rgb(231, 151, 3); font-size: 18px; width: 100%; text-align: center;">S/ {{planSeleccionado.precio.toFixed(2)}}</div>      
          </div>
          <div class="detalle-precio-plan">
              <div class="item-precio-plan">
                  <div style="margin-right: 5px; font-size: 14px;">Plan: </div>     
                  <div style="font-weight: bold; color: rgb(53, 53, 52); font-size: 14px; width: auto; text-align: center;">{{planSeleccionado.nombreplan}}</div>
        
              </div>
            <div class="item-precio-plan">
                <div style="margin-right: 5px;">Precio del Plan: </div>     
                <div style="font-weight: bold; color: rgb(53, 53, 52); font-size: 12px; width: auto; text-align: center;"> S/ {{planSeleccionado.montomes.toFixed(2)}}</div>
      
            </div>
            <div class="item-precio-plan">
                <div style="margin-right: 5px;">Cuota : </div>     
                <div  style="font-weight: bold; color: rgb(32, 32, 31); font-size: 12px; width: auto; text-align: center;"> S/ {{planSeleccionado.cuotamensual.toFixed(2)}}</div>
    
            </div>
            <div class="item-precio-plan">
              <div style="margin-right: 5px;">Pago Mensual : </div>     
              <div  style="font-weight: bold; color: rgb(32, 32, 31); font-size: 12px; width: auto; text-align: center;"> S/ {{(planSeleccionado.montomes+planSeleccionado.cuotamensual).toFixed(2)}}</div>
            </div>
            <div class="item-precio-plan" *ngIf="tipoLineaSeleccionada != 'PREPAGO'">
              <button class="btn-detalle-plan" (click)="abrirDetallesPlan()" data-toggle="modal" data-target="#modalPlan"> Ver Detalles </button>

            </div>
              
          </div>
          <div>
              <div  style="margin-top:5px;">Monto a Pagar: S/ {{(planSeleccionado.precio).toFixed(2)}} </div>    
    
          </div>
          <div class="botones-compra">
            <button class="btn-compra btn-procesar" routerLink="/pago"><i class="fa fa-credit-card"></i> Procesar Compra</button>
            <button class="btn-compra btn-agregar" (click)="agregarCarrito()" [disabled]="!habilitarBotonCarrito"> <i class="fa fa-cart-plus" style="font-size: 18px;"></i> Agregar al Carrito</button>

          </div>
         
        </div>

      </div>
    </div>
    <div class="detalle-articulo">      
        <mat-tab-group style="width: 100%;"(selectedTabChange)="buscarDetallesArticulo($event)">
          <mat-tab label="Detalles del Producto">
              <div class="card" style="width: 100%" >
                <div class="card-body">
                  <h5 class="card-title"> Especificaciones</h5>
                  <div><hr style="margin: 0px; padding: 0px;"></div>
                  <br>
                  <div class="contenedor-caracteristicas">
                      <div style="display:flex" class="item-caracteristica" *ngFor="let caracteristica of articuloService.articuloSeleccionado.caracteristicas">
                        <div style="width: 20px;"><li></li></div>
                        <div>{{caracteristica.nombre}}: {{caracteristica.valor}}</div>
                      </div>
                    </div>
                </div>
              </div>
              <br>   
              <div class="card" style="width: 100%" >             
                <div class="card-body">
                  <h5 class="card-title"> Descripción del producto</h5>
                  <div><hr style="margin: 0px; padding: 0px;"></div>
                  <br>
                  <div class="ql-container ql-snow" style="border:0px !important; width: 96%;">                     
                      <div id="descripcion-articulo" class="ql-editor">
                      </div>
                    </div>
                </div>
              </div>
              
          </mat-tab>
          <mat-tab label="Calificación">
            <mat-card class="card-calificaciones">
              <mat-card-title>Calificacion del producto</mat-card-title>
              <app-valoracion></app-valoracion>
            </mat-card>
          </mat-tab>
          <mat-tab label="Sobre la Marca" >
            
            <div class="card" style="width: 100%">
              <div class="card-body">
                <h5 class="card-title" style="text-align: center"> {{marca.nombremarca}}</h5>
                <div><hr style="margin: 0px; padding: 0px;"></div>
                <br>
                <p>
                  {{marca.descripcion}}
                </p>
                <div class="cont-img-marca">
                  <img class="imagen-marca" src="{{articuloService.url_imagenes}}/tmp/{{marca.imagen}}" alt="" hspace="5" vspace="5" style="float: none;">

                </div>
                  


              </div>
            </div>
          </mat-tab>
          <mat-tab label="Garantía">
            <div class="card" style="width: 100%" >
              <div class="card-body">
                <h5 class="card-title"> Informacion de la garantia</h5>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group> 
      </div>
  </div>
</div>

<div id="modalPlan" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content" style="border: 0px solid white;border-radius: 0px;">
      <div class="modal-header" style=" border-radius: 0px;text-align: center;display: flex; flex-direction: row; align-items: center; justify-content: center;background-color: orange; color: white;">
        <div>
            <h4>Plan {{planSeleccionado.nombreplan}}</h4>    
        </div>          
      </div>
      <div class="modal-body">
          <div class="contenedor-caracteristicas">
            <div style="display:flex; margin-bottom: 5px;" class="item-caracteristica" *ngFor="let det of listaDetallePlan">
              <div style="width: 20px;"><li></li></div>
              <div>{{det}}</div>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" style="background-color: #212529; color:  white;">Cerrar</button>
      </div>
    </div>
  </div>
</div>