.contenido{
  display: flex;
  flex-direction: column;
  justify-content: center; align-items: center;
  width: 100%;
  height: 100%;
  
}
.input-login{
  width: 80%;
}
.btn-login{
  width: 80%;
  border-radius: 20px;
}
/* Extra small devices (portrait phones, less than 576px) */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}
