
        <div class="contenido">  
          <mat-form-field appearance="standard" class="input-login" >
            <mat-label>Ingrese su usuario</mat-label>
            <mat-icon matPrefix style="margin-right: 5px;">person</mat-icon>
            <input matInput placeholder="Ingrese su usuario" >          
          </mat-form-field>

          <mat-form-field class="input-login">
            <mat-icon matPrefix style="margin-right: 5px;">lock</mat-icon>
            <input matInput placeholder="Ingrese su contraseña" [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>

          <button mat-raised-button class="btn-login">Iniciar Sesión</button>


        </div>
   


<!--

<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-8 col-lg-6 mx-auto">
      <div class="card card-signin my-5">
        <form #loginForm="ngForm" class="form-signin" method="post" (ngSubmit)="login(loginForm)">
          <div class="card-body">
            <h5 class="card-title text-center"><i class="fas fa-key"></i> Iniciar Sesión</h5>
            <hr>
            <mat-form-field id="correo">
              <input type="email" matInput placeholder="Correo electrónico" name="correo" #correo="ngModel" [(ngModel)]="usuarioService.usuarioSeleccionado.correo"
                required email>
              <mat-error *ngIf="correo.invalid && (correo.dirty || correo.touched) && correo.errors.required">
                El correo electrónico es obligatorio.
              </mat-error>
              <mat-error *ngIf="correo.invalid && (correo.dirty || correo.touched) && correo.errors.email">
                El correo debe ser válido.
              </mat-error>
            </mat-form-field>
            <mat-form-field id="contraseña">
              <input type="password" matInput placeholder="Contraseña" name="password" #password="ngModel" [(ngModel)]="usuarioService.usuarioSeleccionado.password"
                required minlength="6">
              <mat-error *ngIf="password.invalid && (password.dirty || password.touched) && password.errors.required">
                La contraseña es obligatoria.
              </mat-error>
              <mat-error *ngIf="password.invalid && (password.dirty || password.touched) && password.errors.minlength">
                La contraseña debe tener una longitud mínima de 6 caracteres.
              </mat-error>
            </mat-form-field>
            <div class="form-label-group">
              <a routerLink="/restablecer">¿Olvidaste tu contraseña?</a>
            </div>
          </div>
          <div class="card-body">
            <button class="btn btn-lg btn-secondary btn-block text-uppercase" type="submit" id="btniniciosesion">
              Iniciar Sesión</button>
          </div>
          <hr>
          <div class="card-body" id="footer-login">
            <div class="row">
              <div class="col col-lg-6 col-md-12 col-sm-12">
                
              </div>
              <div class="col col-lg-6 col-md-12 col-sm-12">
                <label>¿Eres nuevo? <a routerLink="/registro">Regístrate</a></label>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
  
-->