.example-panel-red .mat-select-panel {
  background: rgba(255, 0, 0, 0.5);
}

.example-panel-green .mat-select-panel {
  background: rgba(0, 255, 0, 0.5);
}

.example-panel-blue .mat-select-panel {
  background: rgba(0, 0, 255, 0.5);
}

.portfolio-item {
  margin-bottom: 30px;
}

/*material*/
.custom-control.material-checkbox {
  --color: #ff7b00;
}

.custom-control.material-checkbox .material-control-input {
  display: none;
}

.custom-control.material-checkbox .material-control-input:checked~.material-control-indicator {
  border-color: var(--color);
  -webkit-transform: rotateZ(45deg) translate(1px, -5px);
  transform: rotateZ(45deg) translate(1px, -5px);
  width: 10px;
  border-top: 0px solid rgb(241, 134, 130);
  border-left: 0px solid rgb(241, 184, 130);
}

.custom-control.material-checkbox .material-control-indicator {
  display: inline-block;
  position: absolute;
  top: 4px;
  left: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #ff7b00;
  transition: 0.3s;
}

/**/

/*check*/
.checkbox label:after,
.radio label:after {
  content: '';
  display: table;
  clear: both;
}

.checkbox .cr,
.radio .cr {
  position: relative;
  display: inline-block;
  border: 1px solid #f10101;
  border-radius: .25em;
  width: 1.3em;
  height: 1.3em;
  float: left;
  margin-right: .5em;
}

.radio .cr {
  border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
  position: absolute;
  font-size: .8em;
  line-height: 0;
  top: 50%;
  left: 20%;
}

.radio .cr .cr-icon {
  margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
  display: none;
}

.checkbox label input[type="checkbox"]+.cr>.cr-icon,
.radio label input[type="radio"]+.cr>.cr-icon {
  transform: scale(3) rotateZ(-20deg);
  opacity: 0;
  transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked+.cr>.cr-icon,
.radio label input[type="radio"]:checked+.cr>.cr-icon {
  transform: scale(1) rotateZ(0deg);
  opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled+.cr,
.radio label input[type="radio"]:disabled+.cr {
  opacity: .5;
}

/**/
/*slider*/
mat-slider {
  width: 300px;
}

.example-margin {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 100px;
}

/*fin slider*/
.colortooltip {
  background: #ff7d13;
}

/*boton flotante*/
.btn-group-sm .btn-fab {
  position: fixed !important;
  right: 29px;
}

.btn-group .btn-fab {
  position: fixed !important;
  right: 20px;
}

.titulo-articulo {
  text-decoration: none;
  font-size: 18px;
  color: black;
}

a :hover {
  text-decoration: none;
  font-size: 20px;
  color: red;
}

#articulo{
  height: 240px;
  width: auto;
}

#main {
  bottom: 20px;
}

#mail {
  bottom: 80px
}

#sms {
  bottom: 125px
}

#autre {
  bottom: 170px
}

#modalfiltro {
  font-size: 13px
}

/*fin boton flotante*/

/* @media handheld, only screen and (max-width: 767px) {
    #contenedorfiltro{#botonfiltromodal
    display:none;
    }
  }*/
@media screen and (max-width:767px) {
  #contenedorfiltro {
    display: none;
  }

  #titulo1 {
    font-size: 1em;
  }

  #botonfiltromodal {
    display: block;
  }

  #rowvista {
    display: none;
    width: 50%;
  }

  #tbvista {
    font-size: 15px;
  }

  #tbordenar {
    width: 30%;
  }

  /*  #tbselecC{width: 20%;}*/
  #tbselect {
    width: 50%;
  }

  #tbencontrados {
    display: none;
  }
}

@media screen and (min-width:767px) {
  #contenedorfiltro {
    display: block;
  }

  #botonfiltromodal {
    display: none;
  }
}

/*efecto*/
.example-ripple-container {
  cursor: pointer;
  text-align: center;

  width: 300px;
  height: 300px;
  line-height: 300px;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}

/** Styles to make the demo look better. */
.example-ripple-checkbox {
  margin: 6px 12px 6px 0;
}

.example-ripple-form-field {
  margin: 0 12px 0 0;
}

/**/
.imagar{
  width: 160px;
  height: 160px;
 background:;
  overflow: hidden;
}
.imagar img{
  width: auto;
  height: 100%;
}
@supports(object-fit: cover){
    .imagar img{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
}
.centrarimg {
  margin-left: auto;
  margin-right: auto;
  display: block;
}


