<hr>
<div class="container-fluid">
  <div class="row">
    <!--filtro-->
    <div class="col-lg-3" style="background: white">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <hr>
            <h4>CATEGORIAS</h4>
          </div>
          <div class="col-lg-12">
            <hr>
            <div class="well" style="max-height: 300px;overflow: auto;">
              <div class="checkbox" *ngFor="let categoria of listacategorias">
                <label>
                  <input type="checkbox" value="">
                  <span class="cr"><i class="cr-icon material-icons" style="color:rgb(255, 153, 0)">done</i></span>
                  {{categoria}}
                </label>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <hr>
            <h5>FILTROS</h5>
          </div>
          <div class="col-lg-12">
              <hr>
              <h4>Marca</h4>
              <div class="col-lg-12">
              </div>
            </div>
          <div class="col-lg-12">
            <hr>
            <h5>Precio</h5>
            <div class="col-lg-12">
              <!--inicio de slider de precio-->
              <section class="example-section">
                <div class="example-margin">
                  <input matInput type="number" placeholder="Min value" [(ngModel)]="min">
                </div>
                <div class="example-margin">
                  <input matInput type="number" placeholder="Max value" [(ngModel)]="max">
                </div>
                <div class="example-margin">
                  <input matInput type="text" placeholder="Value" [(ngModel)]="value">
                </div>
              </section>
              <section class="result">
                <mat-slider thumbLabel [displayWith]="formatLabel" [tickInterval]="tickInterval" [(ngModel)]="value"
                  [min]="min" [max]="max" tickInterval="1">
                </mat-slider>
              </section>>
              <!--fin de slider-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--finfiltro-->
    <div class="col-lg-9">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <h3>RESULTADOS DE LA BÚSQUEDA
              <small>Articulo de referencia</small>
            </h3>
            <hr>
            <ol class="breadcrumb">
              <table class="table table-responsive">
                <thead>
                  <tr>
                    <th width="25%">
                      <p>Ordenar por</p>
                    </th>
                    <th>
                      <mat-form-field>
                        <mat-select [(value)]="selected">
                          <mat-option value="option1">Populares</mat-option>
                          <mat-option value="option2">Mayor precio</mat-option>
                          <mat-option value="option3">Menor Precio</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </th>
                    <th>
                      <p>Encontrados</p>
                    </th>
                  </tr>
                </thead>
              </table>
            </ol>
          </div>
          <div class="col-lg-4" *ngFor="let articulo of listaarticulos" >
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">{{articulo}}</a>
                </h4>
                <p class="card-text">ABCD EFGH</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>