<hr>
<div class="container-fluid" id="contenedorbusqueda">
  <div class="row">
    <!--filtro-->
    <div class="col-sm-3 col-md-3 col-lg-3" style="background: white" id="contenedorfiltro">
      <div class="container">
        <div class="row">
          <!---->
          <div class="col-lg-12" hidden>
            <hr>
            <h5>LO QUIERO EN:</h5>
          </div>
          <div class="col-lg-12" hidden>
            <div>
              <mat-form-field id='selectlinea'>
                <mat-select [(ngModel)]="linea" (selectionChange)="mostrartipoplan()">
                  <mat-option value="PREPAGO">Prepago</mat-option>
                  <mat-option value="POSTPAGO">Postpago</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field id='selectplan'>
                <mat-select [(ngModel)]="tipo" (selectionChange)="cambiarprecio()">
                  <mat-option value="ALTA">Postpago Renovación</mat-option>
                  <mat-option value="RENOVACION">Postpago Alta nueva</mat-option>
                  <mat-option value="PORTABILIDAD">Postpago Portabilidad</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field id='selectcuotas'>
                <mat-select [(ngModel)]="cuota" (selectionChange)="cambiarprecio()" (change)="cambiarvistaprecio()">
                  <mat-option value="0">Sin cuotas</mat-option>
                  <mat-option value="12">12 cuotas</mat-option>
                  <mat-option value="18">18 cuotas</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="col-lg-12">
            <hr>
            <h5>FILTROS</h5>
          </div>
          <!-- <div class="col-lg-12" (click)="mostrarcategoria()" style="cursor: pointer; position: relative;"> -->
          <div class="col-lg-12"  style="cursor: pointer; position: relative;">
            <hr>
            <div class="row">
              <p style="width: 80%; padding-left: 14px;">Categorias</p>
              <i id="icondown1" class="material-icons" style="width: 20%;">keyboard_arrow_{{nombreicon1}}</i>
            </div>
          </div>
          <!-- <div id="categoriafiltro" class="col-lg-12" style="display: none"> -->
          <div id="categoriafiltro" class="col-lg-12" >
            <hr>
            <div class="well" style="max-height: 300px;overflow: auto;">
              <div class="checkbox" *ngFor="let categoria of listacategorias; let i=index">
                <div>
                  <label style="cursor: pointer;" (click)="filtroCategoria()">
                    <input type="checkbox" name="checkPadre" value="{{categoria._id}}" id="{{categoria._id}}">
                    <span class="cr"><i class="cr-icon material-icons" style="color:rgb(255, 153, 0)">done</i></span>
                    {{categoria.nombre}}
                  </label>
                  <div>
                    <div *ngFor="let Cathijos of categoria.hijos[0]">
                      <label style="cursor: pointer;" (click)="filtroCategoriaH()">
                        <input type="checkbox" name="checkHijo" value="{{Cathijos._id}}" id="{{Cathijos._id}}">
                        <span class="cr"><i class="cr-icon material-icons"
                            style="color:rgb(255, 153, 0)">done</i></span>
                        {{Cathijos.nombre}}
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--<div><button (click)="prueba()">prueba</button></div>-->
          <div class="col-lg-12" (click)=" mostrarmarca()" style="cursor: pointer;">
            <hr>
            <div class="row">
              <p style="width: 80%; padding-left: 14px;">Marca</p>
              <i id="icondown2" class="material-icons" style="width: 20%;">keyboard_arrow_{{nombreicon2}}</i>
            </div>
          </div>
          <div id="marcafiltro" class="col-lg-12" style="display: none">
            <hr>
            <div class="well" style="max-height: 300px;overflow: auto;">
              <div id="divcheck" class="checkbox" *ngFor="let marca of tempomarcas; index as i">
                <label style="cursor: pointer;" (click)="filtroMarca()">
                  <input type="checkbox" name="checkMarca" value="{{marca._id}}" id="{{marca.nombremarca}}">
                  <span class="cr"><i class="cr-icon material-icons" style="color:rgb(255, 153, 0)">done</i></span>
                  {{marca.nombremarca}}
                </label>
              </div>
            </div>
          </div>
          <!--     <div class="col-lg-12" (click)="mostrarcolor()">
            <hr>
            <p>Color<i id="icondown3" class="material-icons">keyboard_arrow_{{nombreicon3}}</i></p>
          </div>
          <div id="colorfiltro" class="col-lg-12" style="display: none">
            <hr>
            <div class="well" style="max-height: 300px;overflow: auto;">
              <div class="checkbox" *ngFor="let color of listacolor">
                <label>
                  <input type="checkbox" value="">
                  <span class="cr"><i class="cr-icon material-icons" style="color:rgb(255, 153, 0)">done</i></span>
                  {{color}}<i id="iconcolor" class="material-icons">color_lens</i>
                </label>
              </div>
            </div>
          </div>-->
          <div class="col-lg-12">
            <!--(click)="mostrarprecio()"-->
            <hr>
            <p>Precio
              <!--<i id="icondown4" class="material-icons">keyboard_arrow_{{nombreicon4}}</i>-->
            </p>
          </div>
          <div class="col-lg-12" id="divprecio">
            <!--inicio de slider de precio-->
            <!--  <section class="example-section">
              <mat-form-field class="example-margin">
                <input matInput type="number" placeholder="Minimo" [(ngModel)]="minValue">
              </mat-form-field>
              <mat-form-field class="example-margin">
                <input matInput type="number" placeholder="Maximo" [(ngModel)]="maxValue">
              </mat-form-field>
            </section>-->
            <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"
              (userChangeStart)="onUserChangeStart($event)" (userChange)="onUserChange($event)"
              (userChangeEnd)="onUserChangeEnd($event)">
            </ng5-slider>
            <!--fin de slider-->
          </div>
        </div>
      </div>
    </div>
    <!--finfiltro-->
    <div class="col-sm-9 col-md-9 col-lg-9">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <h4 id="titulo1" style="text-align: center;">RESULTADOS DE LA BÚSQUEDA</h4>
            <hr>
            <ol class="breadcrumb">
              <table id="tbvista" class="table table-responsive">
                <thead>
                  <tr>
                    <th id="tbordenar" width="27%">
                      <p>Ordenar por:</p>
                    </th>
                    <th id="tbselecC" width="43%">
                      <mat-form-field id="tbselect" style="border: 0px;">
                        <mat-select [(ngModel)]="tipordenado" (selectionChange)="ordenarlista()">
                          <mat-option value="orden1">Populares</mat-option>
                          <mat-option value="orden2">Mayor precio</mat-option>
                          <mat-option value="orden3">Menor Precio</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </th>
                    <th id="tbencontrados" width="30%">
                      <p>Encontrados: {{numeroencontrados}}</p>
                    </th>
                    <!--   <th id="rowvista">
                      <p>Vista: &nbsp; <i class="material-icons" (click)="cambiarvista1()" style="cursor: pointer;">grid_on</i>&nbsp;<i
                          class="material-icons" (click)="cambiarvista2()" style="cursor: pointer;">list</i></p>
                    </th>-->
                    <th></th>
                  </tr>
                </thead>
              </table>
            </ol>
          </div>
          <hr>
          <!--       <div class="col-lg-12" id="contenedorarticulos">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let articulo of articuloslista; index as i" id="contenedorarticulo{{articulo._id}}">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-lg-12 imagar" id="colart1{{articulo._id}}">
                        <a routerLink="/articulo/{{articulo.url}}" matTooltip="{{articulo.titulo}}" matTooltipClass="colortooltip">
                          <img class="img-fluid card-img-top centrarimg" id="{{articulo._id}}" src="{{articulodetalleService.url_imagenes}}/tmp/{{articulo.imagenes[0]}}"
                            alt="{{articulo.imagenes[0]}}">
                        </a>
                      </div>
                      <div class="col-lg-12" id="colart2{{articulo._id}}">
                        <p class="card-text">
                          <a class="titulo-articulo .centrarletras" style="font-size: 14px" routerLink="/articulo/{{articulo.url}}">{{articulo.titulo}}</a>
                        </p>
                        <p class="card-text">
                            <strong><a class="titulo-articulo" style="font-size: 20px;color: red" routerLink="/articulo/{{articulo.url}}">S/.
                            {{articulo.precioplan.precio}}</a></strong>
                        </p>
                        <p class="card-text">
                            <a class="titulo-articulo" style="font-size: 13px;color: red" routerLink="/articulo/{{articulo.url}}">
                              {{articulo.precioplan.nombreplan}}</a>
                          </p>
                      </div>
                    </div>
                  </div>
                  <hr>
                </div>
              </div>
            </div>
          </div>-->
          <!--vista nueva-->
          <!---->
          <div class="col-lg-12" id="contenedorarticulos">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let articulo of articuloslista; index as i"
                  id="contenedorarticulo{{articulo._id}}" style="padding-top: 1rem;">
                  <mat-card class="example-card" style="size: 100px;height: 300px; padding: 8px;"
                    *ngIf="articulo.precioplan != 'no tiene'">
                    <a routerLink="/articulo/{{articulo.url}}" matTooltip="{{articulo.titulo}}"
                      matTooltipClass="colortooltip">
                      <img class="img-fluid card-img-top centrarimg"
                        style="height: 180px; width: auto; margin-left: auto; margin-right: auto; display: block;"
                        id="{{articulo._id}}" src="{{articulodetalleService.url_imagenes_md}}/{{articulo.imagenes[0]}}"
                        alt="{{articulo.imagenes[0]}}">
                    </a>
                    <br>
                    <mat-card-title style="height: 20;">
                      <p class="card-text text-center">
                        <a class="titulo-articulo .centrarletras" style="font-size: 14px"
                          routerLink="/articulo/{{articulo.url}}">{{articulo.titulo}}</a>
                      </p>
                    </mat-card-title>
                    <div id="precio1">
                      <p class="card-text text-center">
                        <strong><a class="titulo-articulo" style="font-size: 18px;color: red"
                            routerLink="/articulo/{{articulo.url}}">
                            S/ {{articulo.precioplan.precio}}</a></strong>
                      </p>
                    </div>
                    <div id="precio2" style="display: flex; align-items: flex-end; display: none">
                      <div>
                        <p class="card-text text-center">
                          <strong><a class="titulo-articulo" style="font-size: 18px;color: red"
                              routerLink="/articulo/{{articulo.url}}">
                              S/ {{articulo.precioplan.precio}}</a></strong>
                        </p>
                      </div>
                      <div>
                        <p class="card-text text-center">
                          <strong><a class="titulo-articulo" style="font-size: 12px;color: red"
                              routerLink="/articulo/{{articulo.url}}">
                              x {{articulo.precioplan.cuotas}} meses</a></strong>
                        </p>
                      </div>
                    </div>
                    <!--<p class="card-text text-center">
                      <a class="titulo-articulo" style="font-size: 13px;color: red" routerLink="/articulo/{{articulo.url}}">
                        PLAN {{articulo.precioplan.nombreplan}}</a>
                    </p>-->
                  </mat-card>
                  <hr>
                </div>
                <!---->
                <!--    <div class="col-lg-12" *ngFor="let articulo of articuloslista; index as i" id="contenedorarticulo{{articulo._id}}">
                  <mat-card class="example-card2 " style="size: 100px;height: 210px;" *ngIf="articulo.precioplan != 'no tiene'">
                    <div class="container">
                      <div class="row">
                        <div class="col-lg-4">
                          <a routerLink="/articulo/{{articulo.url}}" matTooltip="{{articulo.titulo}}" matTooltipClass="colortooltip">
                            <img class="img-fluid card-img-top centrarimg" style="height: 180px; width: auto;" id="{{articulo._id}}"
                              src="{{articulodetalleService.url_imagenes}}/tmp/{{articulo.imagenes[0]}}" alt="{{articulo.imagenes[0]}}">
                          </a>
                        </div>
                        <div class="col-lg-8">
                          <mat-card-title style="height: 20;">
                            <p class="card-text text-center">
                              <a class="titulo-articulo .centrarletras" style="font-size: 14px" routerLink="/articulo/{{articulo.url}}">{{articulo.titulo}}</a>
                            </p>
                          </mat-card-title>
                          <mat-card-content>
                            <p class="card-text text-center">
                              <strong><a class="titulo-articulo" style="font-size: 20px;color: red" routerLink="/articulo/{{articulo.url}}">S/.
                                  {{articulo.precioplan.precio}}</a></strong>
                            </p>
                            <p class="card-text text-center">
                              <a class="titulo-articulo" style="font-size: 13px;color: red" routerLink="/articulo/{{articulo.url}}">
                                {{articulo.precioplan.nombreplan}}</a>
                            </p>
                          </mat-card-content>
                        </div>
                      </div>
                    </div>
                    <br>
                  </mat-card>
                  <hr>
                </div>-->
                <!---->
              </div>
            </div>
          </div>
          <!--fin -->
        </div>
      </div>
    </div>
  </div>
</div>
<!--vista no se encontro-->
<div id='noencontrado'>
  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <br><br><br>
        <p style="font-size: 18px;"><i class="material-icons" style="font-size: 80px">
            search
          </i>Lo sentimos! No se encontraron articulos que coincidan con su busqueda "{{palabraClave}}"</p>
        <br><br><br>
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
</div>
<!--fin vista-->
<!--modal-->
<!-- Button trigger modal -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="btn-group" id="botonfiltromodal" (click)="cambiaridfiltro()">
        <a class="btn btn-fab" id="main" data-toggle="modal" data-target="#modalfiltro" style="background: orange">
          <i class="material-icons">filter_list</i>
        </a>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="modalfiltro" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Filtro</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-lg-3" style="background: white">
          <div class="container">
            <div class="row">
              <div class="col-lg-12" (click)="mostrarcategoria()">
                <p>Categorias<i id="icondown1" class="material-icons">keyboard_arrow_{{nombreicon1}}</i></p>
              </div>
              <div id="categoriafiltro2" class="col-lg-12" style="display: none">
                <hr>
                <div class="well" style="max-height: 300px;overflow: auto;">
                  <div class="checkbox" *ngFor="let categoria of listacategorias; let i=index">
                    <div>
                      <label style="cursor: pointer;" (click)="filtroCategoria()">
                        <input type="checkbox" name="checkPadre" value="{{categoria._id}}" id="{{categoria._id}}">
                        <span class="cr"><i class="cr-icon material-icons"
                            style="color:rgb(255, 153, 0)">done</i></span>
                        {{categoria.nombre}}
                      </label>
                      <div>
                        <div *ngFor="let Cathijos of categoria.hijos[0]">
                          <label style="cursor: pointer;" (click)="filtroCategoriaH(this)">
                            <input type="checkbox" name="checkHijo" value="{{Cathijos._id}}" id="{{Cathijos._id}}">
                            <span class="cr"><i class="cr-icon material-icons"
                                style="color:rgb(255, 153, 0)">done</i></span>
                            {{Cathijos.nombre}}
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12" (click)=" mostrarmarca()">
                <hr>
                <p>Marca<i id="icondown2" class="material-icons">keyboard_arrow_{{nombreicon2}}</i></p>
              </div>
              <div id="marcafiltro2" class="col-lg-12" style="display: none">
                <hr>
                <div class="well" style="max-height: 300px;overflow: auto;">
                  <div id="divcheck" class="checkbox" *ngFor="let marca of tempomarcas; index as i">
                    <label style="cursor: pointer;" (click)="filtroMarca()">
                      <input type="checkbox" name="check" value="{{marca._id}}" id="{{marca.nombremarca}}">
                      <span class="cr"><i class="cr-icon material-icons" style="color:rgb(255, 153, 0)">done</i></span>
                      {{marca.nombremarca}}
                    </label>
                  </div>
                </div>
              </div>
              <!--     <div class="col-lg-12" (click)="mostrarcolor()">
                <hr>
                <p>Color<i id="icondown3" class="material-icons">keyboard_arrow_{{nombreicon3}}</i></p>
              </div>
              <div id="colorfiltro2" class="col-lg-12" style="display: none">
                <hr>
                <div class="well" style="max-height: 300px;overflow: auto;">
                  <div class="checkbox" *ngFor="let color of listacolor">
                    <label>
                      <input type="checkbox" value="">
                      <span class="cr"><i class="cr-icon material-icons" style="color:rgb(255, 153, 0)">done</i></span>
                      {{color}}<i id="iconcolor" class="material-icons">color_lens</i>
                    </label>
                  </div>
                </div>
              </div>-->
              <div class="col-lg-12" (click)="mostrarprecio()">
                <hr>
                <p>Precio<i id="icondown4" class="material-icons">keyboard_arrow_{{nombreicon4}}</i></p>
              </div>
              <div class="col-lg-12" id="divprecio2">
                <!--inicio de slider de precio-->
                <section class="example-section">
                  <mat-form-field class="example-margin">
                    <input matInput type="number" placeholder="Minimo" [(ngModel)]="minValue">
                  </mat-form-field>
                  <mat-form-field class="example-margin">
                    <input matInput type="number" placeholder="Maximo" [(ngModel)]="maxValue">
                  </mat-form-field>
                </section>
                <ng5-slider style="size: 50%" [(value)]="minValue" [(highValue)]="maxValue" [options]="options"
                  (userChangeStart)="onUserChangeStart($event)" (userChange)="onUserChange($event)"
                  (userChangeEnd)="onUserChangeEnd($event)">
                </ng5-slider>
                <!--fin de slider-->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>
<!--fin modal-->