/* Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */
.terminos {
  padding: 1rem .5rem;
}
.terminos p {
  text-align: justify;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  .terminos {
    padding: 1rem .75rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .terminos {
    padding: 1rem 2.5rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .terminos {
    padding: 1rem 5rem;
  }
  
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }