<div style="display: flex; flex-direction: column; flex-wrap: wrap;  margin-top: 15px; align-items: center;">
  <div class="carusel-grande">
    <div id="carousel-grande-owl" class="owl-carousel owl-theme">

    </div> 
  </div> 
  <div #carouselofertas  class="cont-carouseles">
      <div style="width: 90%;display:flex; justify-content:flex-start; border-bottom: 1px solid rgb(196, 194, 194); ">
          <h5 style="margin-bottom: 3px; margin-left: 5px;  margin-top: 10px; font-size: x-large; font-weight: 450; margin-bottom: 10px;">Ofertas Relampago</h5>        
      </div>
    
     
<div style="width: 90%; display:flex; justify-content: center; margin-top: 15px;">
          <br>
        <div id="owl-demo-ofertas" class="owl-carousel owl-theme" >   
          <div   class="item noseleccionable"  *ngFor="let cardsimple of listaofertas;" style="width: 100%;display:flex; justify-content: center;" routerLink="/articulo/{{cardsimple.link}}">
              <div class="simple-card noseleccionable">
                  <div class="descuento porcentaje">-10%</div>   
                <div class="img-card">
                  <img  class="imagen-card-articulo" src="{{URL_IMAGENES}}/{{cardsimple.urlImagen}}" alt="">
                </div> 
                <div style="font-size: 14px;font-weight: 430;color: #000000;">
                  {{cardsimple.titulo}}
                </div>
                <div style="font-size: 12px;color: rgba(0,0,0,0.5);"><del>S/ 475.00</del></div>
                <div style="font-size: 16px;color: #df3b3b;font-weight: 500;">S/ 1200.00</div>
              </div>
          </div>   
        </div>          
      </div>

      <div style="width: 90%;display:flex; justify-content:flex-start; border-bottom: 1px solid rgb(196, 194, 194);">
          <h5 style="margin-bottom: 3px; margin-left: 5px;  margin-top: 10px; font-size: x-large; font-weight: 450; margin-bottom: 10px;">Accesorios</h5>        
      </div>
      <div style="width: 90%; display:flex; justify-content: center; margin-top: 15px;  ">
          <br>
        <div id="owl-demo-accesorios" class="owl-carousel owl-theme" >   
            <div #carousel3 class="item noseleccionable item-accesorios" *ngFor="let largocard of listaaccesorios" routerLink="/articulo/{{largocard.link}}">
              <div class="descuento porcentaje">-10%</div>   
              <div class="item-img-accesorio">
                  <img class="imagen-card-accesorio" src="{{URL_IMAGENES}}/{{largocard.urlImagen}}">           
              </div>
              <div class="detalles-item-accesorio">
                <div style="font-size: 12px;color: rgba(0,0,0,0.5);">Categoria</div>
                <div style="font-size: 16px;font-weight: 400;color: #000000;">{{largocard.titulo}}</div>
                <div style="font-size: 12px;color: rgba(0,0,0,0.5);"><del>S/ 475.00</del></div>
                <div style="font-size: 16px;color: #df3b3b;font-weight: 500;">S/ 475.00</div>
              </div>        
            </div> 
        </div>          
      </div>
    </div> 
  
</div>

  <!--
<div class="articulo-principal" style="padding: 5px; height: 100%; ">

    <div class="oferta-dia" *ngFor="let grandecard of listarcardtipo2" routerLink="/articulo/{{grandecard.link}}">
      <div class="titulo-oferta">Oferta del Día</div>
      <div class="descuento porcentaje">-10%</div>   
      <div style="width: 100%;display: flex;justify-content: center;">
        <img class="imagen-card" src="{{URL_IMAGENES}}/{{grandecard.urlImagen}}" alt="">
      </div>
      <div class="detalles-oferta1">
        <div>Categoria</div>

      </div>
      <div class="nombre-art-eferta-dia">{{grandecard.titulo}}</div>
      <div style=" display:flex; flex-direction: row; flex-wrap: wrap;">
        <div class="descuento"><del>S/ 4500.00</del></div>
          
        <div class="precio">S/ {{grandecard.precioplan.precio}}</div>
      </div>
    </div>
    <div class="accesorio">
      <div class="titulo-accesorio" >Accesorios</div>
      <div class="item-accesorios" *ngFor="let largocard of listarcardtipo3" routerLink="/articulo/{{largocard.link}}">
        <div class="descuento porcentaje">-10%</div>   
        <div class="item-img-accesorio">
            <img class="imagen-card-accesorio" src="{{URL_IMAGENES}}/{{largocard.urlImagen}}">           
        </div>
        <div class="detalles-item-accesorio">
          <div style="font-size: 12px;color: rgba(0,0,0,0.5);">Categoria</div>
          <div style="font-size: 16px;font-weight: 400;color: #000000;">{{largocard.titulo}}</div>
          <div style="font-size: 12px;color: rgba(0,0,0,0.5);"><del>S/ 475.00</del></div>
          <div style="font-size: 16px;color: #df3b3b;font-weight: 500;">S/ {{largocard.precioplan.precio}}</div>
        </div>        
      </div>
    </div>               
  </div>  
  -->

  

