  <div class="container">
<div class="row">
  <!--elemento-->
  <div class="col-lg-4 col-sm-6 portfolio-item">
    <div class="card h-70">
      <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">1</a>
        </h4>
        <p class="card-text">ABCD</p>
      </div>
    </div>
  </div>
  <!---->
  <!--elemento-->
  <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-70">
        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">2</a>
          </h4>
          <p class="card-text">ABCD</p>
        </div>
      </div>
    </div>
    <!---->
    <!--elemento-->
  <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-70">
        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">3</a>
          </h4>
          <p class="card-text">ABCD</p>
        </div>
      </div>
    </div>
    <!---->
    <!--elemento-->
  <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-70">
        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">4</a>
          </h4>
          <p class="card-text">ABCD</p>
        </div>
      </div>
    </div>
    <!---->
    <!--elemento-->
  <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-70">
        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">5</a>
          </h4>
          <p class="card-text">ABCD</p>
        </div>
      </div>
    </div>
    <!---->
    <!--elemento-->
  <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-70">
        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">6</a>
          </h4>
          <p class="card-text">ABCD</p>
        </div>
      </div>
    </div>
    <!---->
</div>
</div>
