.simple-card {
  width: 193px;
  background: #FFFFFF;
  border-radius: 8px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  border: solid 1px #e8e8e8;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
  transition: 0.2s;
  min-height: 250px;
}

.btn-cardsimple{
  width: 30px;height: 60px; 
  background-color: rgba(95, 95, 95, 0.418); 
  display: flex; 
  align-items: center;
  justify-content: flex-end;
}
.btn-cardsimple:hover{
  cursor: pointer;
  background-color: rgba(100, 99, 99, 0.589);
}
.img-card{
  width: 100%;
  display: flex;
  justify-content: center;
}
.imagen-card{
  max-height: 200px;
  height: auto;
  width: auto;
  margin: 3px;
}
.grande-card{
  max-width: 400px;
}
.largo-card{
  max-width: 400px;
}
.centrarletras{
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.imagen-card-articulo{
  max-height: 160px;
  height: auto;
  width: auto;
  margin: 3px;
}
.noseleccionable{
  -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;

    outline:0px !important;
}
.noseleccionable:hover{
  cursor: pointer;
}
.carusel-grande{
  width: 95%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}



/* CARD OFERTA DEL DIA*/
.oferta-dia{
  width: 100%;  
  padding-top: 85px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 35px;
  box-shadow: 0px 10px 25px rgba(0,0,0,0.1);
  border-radius: 5px;
  position: relative;
  transition: 0.2s;
}
.oferta-dia:hover{
  cursor: pointer;
}
.titulo-oferta{
  position: absolute;
    top: 27px;
    left: 40px;
    font-size: 18px;
    font-weight: 500;
    color: #000000;
}
.detalles-oferta1{
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  color: rgba(0,0,0,0.5);
}
.nombre-art-eferta-dia{
  font-size: 20px;
  font-weight: 410;
  color: #000000;
  width: 100%;
  text-align: left;
}
.precio{
  font-size: 24px;font-weight: 500;color: #df3b3b;
  width: 100%;
}
.descuento{
  font-size: 14px;
  font-weight: 400;
  color: rgba(0,0,0,0.5);  
}
.porcentaje{
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: #FFFFFF;
  text-align: center;
  line-height: 36px;
  font-size: 12px;
  background-color: #df3b3b;
}
.item-marca{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.accesorio{
  position: relative;
  background: #eff6fa;
  border-radius: 8px;
  width: 100%;  
  padding-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 18px;
  box-shadow: 0px 10px 25px rgba(0,0,0,0.1);
  margin-top: 10px;
  
}
.titulo-accesorio{
  position: absolute;
    top: 10px;
    left: 23px;
    font-size: 18px;
    font-weight: 500;
    color: #000000;
}
.item-accesorios{
  width: 100%;
  background: #FFFFFF;
  border-radius: 8px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  transition: 0.2s;
  position: relative;
  border: 1px solid rgb(224, 224, 224);
}
.item-img-accesorio{
  height: 115px;
  width: 115px;
}
.imagen-card-accesorio{
  max-height: 115px;
  height: auto;
  width: auto;
  max-width: 115px;
}
.detalles-item-accesorio{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  width: 100%;
}
.item-accesorios:hover{
  transform: scale(1.05);
  cursor: pointer;
  z-index: 2000;
}
.cont-carouseles{
  width: 100%; 
  display:flex; 
  flex-direction: column; 
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media (min-width: 320px) {
 
  .simple-card {
    width: 180px;
  }
  .carousel-ofertas-peque{
    display: flex;
    width: 100%;
    z-index: 1000;
  }
  .carousel-ofertas-grande{
    display: none;
  }
  .articulo-principal{
    width: 100%;
  }
  
}
@media (min-width: 768px) {
 
  .simple-card {
    width: 180px;
  }
  .carousel-ofertas-peque{
    display: flex;
    width: 100%;
  }
  .carousel-ofertas-grande{
    display: none;
  }
  .articulo-principal{
    width: 30%;
  }
  
}
@media (min-width: 992px) {
  .simple-card {
    width: 193px;
  }
  .carousel-ofertas-peque{
    display: none;
  }
  .carousel-ofertas-grande{
    display: flex;
    width: 100%;
  }
  .articulo-principal{
    width: 30%;
  }
  
}
