.simple-card {
  max-width: 400px;
}
.grande-card{
  max-width: 400px;
}
.largo-card{
  max-width: 400px;
}
.centrarletras{
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.imagen-card-articulo{
  max-height: 160px;
  height: auto;
  width: auto;
  margin: 3px;
}
.noseleccionable{
  -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.noseleccionable:hover{
  cursor: pointer;
}
.carusel-grande{
  width: 60%;
}
.articulo-principal{
  width: 30%;
  justify-content: center;
}
@media (min-width: 320px) {
  .carusel-grande{
    width: 100%;
  }
}
@media (min-width: 768px) {
  .carusel-grande{
    width: 70%;
  }
}
@media (min-width: 992px) {
  .carusel-grande{
    width: 70%;
  }
}
