  <div class="container">
<div class="row">
  <!--elemento-->
  <div class="col-lg-4 col-md-6 col-xs-12 portfolio-item">
    <div class="card h-70">
      <a href="#"><img class="img-portafolio card-img-top" src="https://www.claro.com.co/portal/recursos/co/cpp/promociones/imagenes/1537278685331-Imagen.png?$ORIGIN_JPG$" alt="Error"></a>
      <div class="card-body">
        <h4 class="card-title">
          <p class="texto-marca text-center">Nokia</p>
        </h4>
        <p class="card-text text-center">Nokia 8</p>
      </div>
    </div>
  </div>
  <!---->
  <!--elemento-->
  <div class="col-lg-4 col-md-6 col-xs-12 portfolio-item">
      <div class="card h-70">
        <a href="#"><img class="img-portafolio card-img-top" src="https://cdn.shopify.com/s/files/1/1192/8140/products/2015-08-13-16_06_05-Photos.png?v=1459669042" alt="Error"></a>
        <div class="card-body">
          <h4 class="card-title">
            <p class="texto-marca text-center">Samsumg</p>
          </h4>
          <p class="card-text text-center">Samsung ABCD</p>
        </div>
      </div>
    </div>
    <!---->
    <!--elemento-->
  <div class="col-lg-4 col-md-6 col-xs-12 portfolio-item">
      <div class="card h-70">
        <a href="#"><img class="img-portafolio card-img-top" src="https://cdn.shopify.com/s/files/1/2093/5007/products/p20_pro_black_1024x1024.png?v=1522748953" alt="Error"></a>
        <div class="card-body">
          <h4 class="card-title">
            <p class="texto-marca text-center">HUAWEI</p>
          </h4>
          <p class="card-text text-center">Huawei P20 ABCD</p>
        </div>
      </div>
    </div>
    <!---->
    <!--elemento-->
  <div class="col-lg-4 col-md-6 col-xs-12 portfolio-item">
      <div class="card h-70">
        <a href="#"><img class="img-portafolio card-img-top" src="https://assets.entrepreneur.com/content/3x2/2000/20170913155358-iphone-x.png" alt="Error"></a>
        <div class="card-body">
          <h4 class="card-title">
            <p class="texto-marca text-center">Samsung</p>
          </h4>
          <p class="card-text text-center">Samsung Galxy 6 ABCD</p>
        </div>
      </div>
    </div>
    <!---->
    <!--elemento-->
  <div class="col-lg-4 col-md-6 col-xs-12 portfolio-item">
      <div class="card h-70">
        <a href="#"><img class="img-portafolio card-img-top" src="https://cdn.shopify.com/s/files/1/2018/6071/products/MOTO_Z3_PLAY_AZUL_2.jpg?v=1531333809" alt="Error"></a>
        <div class="card-body">
          <h4 class="card-title">
            <p class="texto-marca text-center">Apple</p>
          </h4>
          <p class="card-text text-center">Iphone 9 </p>
        </div>
      </div>
    </div>
    <!---->
    <!--elemento-->
  <div class="col-lg-4 col-md-6 col-xs-12 portfolio-item">
      <div class="card h-70">
        <a href="#"><img class="img-portafolio card-img-top" src="https://www.static-src.com/wcsstore/Indraprastha/images/catalog/full/xiaomi_xiaomi-redmi-note-3-pro-smartphone---gold--2-gb-16-gb-garansi-distributor-_full06.jpg" alt="Error"></a>
        <div class="card-body">
          <h4 class="card-title">
            <p class="texto-marca text-center">Samsung</p>
          </h4>
          <p class="card-text text-center">Samsung Galaxy S9</p>
        </div>
      </div>
    </div>
    <!---->
</div>
</div>
