/* You can add global styles to this file, and also import other style files */
/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";*/

body{
    /*background: #f0f2f5;*/
    background: #424242;
}
 
.exito {
    background-color: #2ECC71;
}

.error {
    background-color: #E74C3C;
}