/* You can add global styles to this file, and also import other style files */
/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";*/

body{
    background: #ffffff;
}
 
.exito {
    background-color: #2ECC71;
}

.error {
    background-color: #E74C3C;
}
.ql-video{
    width: 50%;
}
@media (min-width: 320px) {
    .ql-video{
        width: 100% !important;
        height: 180px!important;
    }
}
@media (min-width: 768px) {
    .ql-video{
        width: 60%!important;
        height: 400px!important;
    }
}
@media (min-width: 992px) {
    .ql-video{
        width: 50%!important;
        height: 400px!important;

    }
}