
    <mat-card style="width: 100%; padding:0; padding: 0; height: auto; padding-bottom: 8px;">
      
        <hr style="margin: 0px; padding: 0px;">
        <!--<mat-accordion *ngFor="let categoriap of listacategoriaspadre; index as i">
          <mat-expansion-panel [expanded]="step === 0" style="margin: 0px;">
            <mat-expansion-panel-header style="margin: 0px;">
              <mat-panel-title>
                <strong>{{categoriap.nombre}}</strong>
              </mat-panel-title>
              <hr style="margin:0px; padding: 0px;">
      
            </mat-expansion-panel-header>
            <div *ngFor="let item of categoriap.hijos[0]">
              <p>{{item.nombre}}</p>
            </div>
          </mat-expansion-panel>
        </mat-accordion>-->
        <div class="lista-categorias">
          <div *ngFor="let categoriap of listacategoriaspadre; index as i"  class="item-list-categoria" routerLink="/busqueda/cat/{{categoriap._id}}"  >
              <i class="material-icons" style="font-size: 20px;margin-right: 5px; width: 25px;">{{categoriap.icono}}</i><div>{{categoriap.nombre}}</div>      
          </div>

          <!--
<div *ngFor="let categoriap of listacategoriaspadre; index as i"  class="item-list-categoria" (mouseover)="mostrarDetalle(categoriap)" (mouseout)="ocultarDetalle()" routerLink="/busqueda/cat/{{categoriap._id}}"  >
            <i class="material-icons" style="font-size: 20px;margin-right: 5px; width: 25px;">{{categoriap.icono}}</i><div>{{categoriap.nombre}}</div>      
        </div>
          -->
          
        </div>  
        <!--<div>
            <ul id="treeview" *ngFor="let categoriap of listacategoriaspadre; index as i" style="margin-right: 105px">
                <li data-icon-cls="fa fa-inbox" data-expanded="true"> {{categoriap.nombre}}
                  <ul *ngFor="let item of categoriap.hijos[0]">
                    <li style="font-size: 14px">{{item.nombre}}</li>
                  </ul>
                </li>
              </ul>
        </div>-->
      </mat-card>
      <div class="detalle-categoria-seleccionada" [hidden]="!mostrarDetalleCategoria">
        <div class="info-hijos-categoria" style="display: flex; flex-direction: row; flex-wrap: wrap; margin-bottom: 15px; width: 50%;">
            <div class="hijos" *ngFor=" let hijo of listahijos" style="margin-bottom: 15px; width: 40%; padding-right: 5px;padding-left: 5px; color: rgb(63, 63, 63);">
              <div style="font-weight:450; padding-left: 5px;"> {{hijo.nombre}}</div>
              <hr style="margin: 0; padding: 5px;">               
            </div>
        </div>
        <div class="mejores-articulos-categoria" style="width: 60%">
          Articulos
        </div>
        
      </div>

