<app-carousel></app-carousel>
<hr>
<div class="row">
  <div class="col-lg-5 col-sm-6" id="portfolio-item">
    <app-portafolio></app-portafolio>
  </div>
  <div class="col-lg-5 col-sm-6" id="portfolio-item">
    <app-portafolio></app-portafolio>
  </div>
  <div class="col-lg-5 col-sm-6" id="portfolio-item">
    <app-portafolio></app-portafolio>
  </div>
  <div class="col-lg-5 col-sm-6" id="portfolio-item">
    <app-portafolio></app-portafolio>
  </div>
  <div class="col-lg-5 col-sm-6" id="portfolio-item">
      <app-portafolio></app-portafolio>
    </div>
    <div class="col-lg-5 col-sm-6" id="portfolio-item">
      <app-portafolio></app-portafolio>
    </div>
</div>

