<app-carousel></app-carousel>
<hr>
<div>
  <app-carouselmultiple></app-carouselmultiple>
</div>
<hr>
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <app-portafolio></app-portafolio>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <app-portafolio></app-portafolio>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <app-portafolio></app-portafolio>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <app-portafolio></app-portafolio>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <app-portafolio></app-portafolio>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <app-portafolio></app-portafolio>
    </div>
  </div>
</div>
<!--<div class="row col-sm-10" id="contenedor1">
  <div class="col-lg-5 col-sm-6" id="portfolio-item">
    <app-portafolio></app-portafolio>
  </div>
  <div class="col-lg-5 col-sm-6" id="portfolio-item">
    <app-portafolio></app-portafolio>
  </div>
  <div class="col-lg-5 col-sm-6" id="portfolio-item">
    <app-portafolio></app-portafolio>
  </div>
  <div class="col-lg-5 col-sm-6" id="portfolio-item">
    <app-portafolio></app-portafolio>
  </div>
  <div class="col-lg-5 col-sm-6" id="portfolio-item">
      <app-portafolio></app-portafolio>
    </div>
    <div class="col-lg-5 col-sm-6" id="portfolio-item">
      <app-portafolio></app-portafolio>
    </div>
</div>-->