<app-carousel></app-carousel>
<hr>
<div class="row" id="articulos">
  <div class="col-lg-5 col-sm-6 ">
    <app-portafolio></app-portafolio>
  </div>
  <div class="col-lg-5 col-sm-6 ">
    <app-portafolio></app-portafolio>
  </div>
  <div class="col-lg-5 col-sm-6 ">
    <app-portafolio></app-portafolio>
  </div>
  <div class="col-lg-5 col-sm-6 ">
    <app-portafolio></app-portafolio>
  </div>
  <div class="col-lg-5 col-sm-6 ">
      <app-portafolio></app-portafolio>
    </div>
    <div class="col-lg-5 col-sm-6 ">
      <app-portafolio></app-portafolio>
    </div>
</div>