<mat-card style="padding: 5px 30px; margin: 10px 50px;">
  <mat-card-title>Cambio de Contraseña</mat-card-title> 
  <mat-card-content>
    <form>
      <mat-form-field [style.width]="'100%'">
        <input type="password" matInput placeholder="Ingrese su nueva contraseña" name="newPassword" #newPassword required minlength="6">
        <mat-error *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched) && newPassword.errors.required">Debe ingresar una nueva contraseña.</mat-error>
        <mat-error *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched) && newPassword.errors.minlength" >La contraseña debe tener una longitud mínima de 6 caracteres.</mat-error>
      </mat-form-field>
      <mat-form-field [style.width]="'100%'">
        <input type="password" matInput placeholder="Repita su contraseña" name="repeatPassword" #repeatPassword required minlength="6">
        <mat-error *ngIf="repeatPassword.invalid && (repeatPassword.dirty || repeatPassword.touched) && repeatPassword.errors.required" >Debe poner la misma contraseña que el campo anterior.</mat-error>
        <mat-error *ngIf="repeatPassword.invalid && (repeatPassword.dirty || repeatPassword.touched) && repeatPassword.errors.minlength" >La contraseña debe tener una longitud mínima de 6 caracteres.</mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="accent" (click)="cambiarPassword(newPassword.value, repeatPassword.value)">Cambiar Contraseña</button>
  </mat-card-actions>
</mat-card>
