<mat-sidenav-container class="perfil">
  <mat-sidenav mode="side" opened class="menuLateral">
    <mat-card>
      <mat-card-title>Mi cuenta</mat-card-title>
      <mat-card-content>
        <mat-list>
          <mat-list-item>
            <mat-icon mat-list-icon>local_mall</mat-icon>
            <h4 mat-line>Ordenes</h4>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <mat-icon mat-list-icon>local_play</mat-icon>
            <h4 mat-line>Lista de Deseos</h4>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <mat-icon mat-list-icon>local_grocery_store</mat-icon>
            <h4 mat-line>Compras</h4>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <mat-icon mat-list-icon>local_atm</mat-icon>
            <h4 mat-line>Métodos de Pago</h4>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <mat-icon mat-list-icon>how_to_reg</mat-icon>
            <h4 mat-line>Datos Personales</h4>
          </mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-card class="card-perfil">
      <mat-card-title>Ordenes de Compra</mat-card-title>
      <mat-card-content>
        <mat-list>
          <mat-list-item>
            <h4 mat-line>Articulo</h4>
          </mat-list-item>
          <mat-list-item>
            <h4 mat-line>Pedido</h4>
          </mat-list-item>
          <mat-list-item>
            <h4 mat-line>Precio</h4>
          </mat-list-item>
          <mat-list-item>
            <h4 mat-line>Estado</h4>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
    <mat-card class="card-perfil">
      <mat-card-title>Lista de Deseos</mat-card-title>
      <mat-card-content>
        <mat-list>
          <mat-list-item>
            <h4 mat-line>Articulo</h4>
          </mat-list-item>
          <mat-list-item>
            <h4 mat-line>Pedido</h4>
          </mat-list-item>
          <mat-list-item>
            <h4 mat-line>Precio</h4>
          </mat-list-item>
          <mat-list-item>
            <h4 mat-line>Estado</h4>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
    <mat-card class="card-perfil">
      <mat-card-title>Compras</mat-card-title>
      <mat-card-content>
        <mat-list>
          <mat-list-item>
            <h4 mat-line>Articulo</h4>
          </mat-list-item>
          <mat-list-item>
            <h4 mat-line>Pedido</h4>
          </mat-list-item>
          <mat-list-item>
            <h4 mat-line>Precio</h4>
          </mat-list-item>
          <mat-list-item>
            <h4 mat-line>Estado</h4>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
    <mat-card class="card-perfil">
      <mat-card-title>Datos Personales</mat-card-title>
      <form #clienteForm="ngForm" class="datos-form" *ngIf="usuarioService.usuarioSeleccionado">
        <mat-card-content>
          <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="usuarioService.usuarioSeleccionado._id">
          <mat-form-field id="tipoDocumento" class="campo-form">
            <mat-select name="tipoDocumento" #tipoDocumento="ngModel" [(ngModel)]="usuarioService.usuarioSeleccionado.tipoDocumento"
              placeholder="Tipo Documento">
              <mat-option *ngFor="let tipodoc of tiposDocumento" [value]="tipodoc">{{tipodoc}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field id="numeroDocumento" class="campo-form">
            <input matInput name="numeroDocumento" #numeroDocumento="ngModel" [(ngModel)]="usuarioService.usuarioSeleccionado.numeroDocumento"
              placeholder="Número de Documento" minlength="8" required>
            <mat-error *ngIf="numeroDocumento.invalid && (numeroDocumento.dirty || numeroDocumento.touched) && numeroDocumento.errors.required">El
              número de Documento es obligatorio</mat-error>
            <mat-error *ngIf="numeroDocumento.invalid && (numeroDocumento.dirty || numeroDocumento.touched) && numeroDocumento.errors.minlength">El
              documento debe tener mínimo 8 dígitos</mat-error>
          </mat-form-field>
          <mat-form-field id="nombres" class="campo-form">
            <input matInput placeholder="Nombres" name="nombres" #nombres="ngModel" [(ngModel)]="usuarioService.usuarioSeleccionado.nombres"
              required>
            <mat-error *ngIf="nombres.invalid && (nombres.dirty || nombres.touched) && nombres.errors.required">El
              campo nombres es requerido</mat-error>
          </mat-form-field>
          <mat-form-field id="apellidos" class="campo-form">
            <input matInput name="apellidos" #apellidos="ngModel" [(ngModel)]="usuarioService.usuarioSeleccionado.apellidos"
              placeholder="Apellidos" required>
            <mat-error *ngIf="apellidos.invalid && (apellidos.dirty || apellidos.touched) && apellidos.errors.required">El
              campo apellidos es requerido</mat-error>
          </mat-form-field>
          <mat-form-field id="correo" class="campo-form">
            <input matInput name="correo" #correo="ngModel" [(ngModel)]="usuarioService.usuarioSeleccionado.correo"
              placeholder="Correo Electrónico" disabled>
          </mat-form-field>
          <mat-radio-group id="sexo" name="sexo" #sexo="ngModel" [(ngModel)]="usuarioService.usuarioSeleccionado.sexo">
            <mat-label>Sexo: &nbsp;</mat-label>
            <mat-radio-button value="F">&nbsp;Femenino&nbsp;</mat-radio-button>
            <mat-radio-button value="M">&nbsp;Masculino&nbsp;</mat-radio-button>
          </mat-radio-group>
          <mat-form-field id="fechaNacimiento" class="campo-form">
            <input matInput [matDatepicker]="picker" placeholder="Fecha de Nacimiento" name="fechaNacimiento"
              #fechaNacimiento="ngModel" [(ngModel)]="usuarioService.usuarioSeleccionado.fechaNacimiento">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field id="fechaAfiliacion" class="campo-form">
            <input matInput [matDatepicker]="fechaAfiliacion" placeholder="Fecha de Afiliación" name="fecha_afiliacion"
              #fecha_afiliacion="ngModel" [(ngModel)]="usuarioService.usuarioSeleccionado.fecha_afiliacion" disabled>
            <mat-datepicker-toggle matSuffix [for]="fechaAfiliacion"></mat-datepicker-toggle>
            <mat-datepicker #fechaAfiliacion></mat-datepicker>
          </mat-form-field>
          <mat-checkbox id="promociones" name="promociones" #promociones="ngModel" [(ngModel)]="usuarioService.usuarioSeleccionado.promociones">Promociones:
          </mat-checkbox>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="actualizar()">ACTUALIZAR MIS DATOS</button>
        </mat-card-actions>
      </form>
    </mat-card>
    <mat-card class="card-perfil">
      <mat-card-title>Mis Direcciones de Envío</mat-card-title>
      <mat-card-content>
        <mat-accordion>
          <!--  <mat-expansion-panel *ngFor="let direccion of direccionService.direccion">
            <form #direccionForm>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{direccion.direccion}}
                </mat-panel-title>
                <mat-panel-description>
                    <mat-icon>room</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="direccion._id">
              <mat-form-field id="departamento" class="campo-form">
                <mat-select name="departamento" #departamento="ngModel" [(ngModel)]="direccion.departamento" placeholder="Departamento">
                  <mat-option *ngFor="" [value]="dep">{{dep}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field id="provincia" class="campo-form">
                <mat-select name="provincia" #provincia="ngModel" [(ngModel)]="direccion.provincia" placeholder="Provincia">
                  <mat-option *ngFor="" [value]="prov">{{prov}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field id="distrito" class="campo-form">
                <mat-select name="distrito" #distrito="ngModel" [(ngModel)]="direccion.distrito" placeholder="Distrito">
                  <mat-option *ngFor="" [value]="dis">{{dis}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field id="direccion">
                <input matInput name="direccion" #direccion="ngModel" [(ngModel)]="direccion.direccion" placeholder="Dirección">
              </mat-form-field>
              <mat-form-field id="tipoLocal" class="campo-form">
                <mat-select name="tipoLocal" #tipoLocal="ngModel" [(ngModel)]="direccion.tipoLocal" placeholder="TipoLocal">
                  <mat-option *ngFor="" [value]="dis">{{dis}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field id="referencia">
                <input matInput name="referencia" #referencia="ngModel" [(ngModel)]="direccion.referencia" placeholder="referencia">
              </mat-form-field>
              <mat-form-field id="telefono">
                <input matInput name="telefono" #telefono="ngModel" [(ngModel)]="direccion.telefono" placeholder="telefono">
              </mat-form-field>
            </form>
          </mat-expansion-panel>-->
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Agregar Dirección
              </mat-panel-title>
              <mat-panel-description>
                <mat-icon>add_circle</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <form #nuevaDireccion="ngForm">
              <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="direccionService.selecDireccion._id" >
              <mat-form-field id="departamento" class="campo-form">
                <mat-select name="departamento" #departamento="ngModel" [(ngModel)]="direccionService.selecDireccion.departamento" (selectionChange)="departamentoSelected($event.value)" placeholder="Departamento">
                  <mat-option *ngFor="let dep of regionService.regiones" [value]="dep.departamento">{{dep.departamento}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field id="provincia" class="campo-form">
                <mat-select name="provincia" #provincia="ngModel" [(ngModel)]="direccionService.selecDireccion.provincia" (selectionChange)="provinciaSelected($event.value)" placeholder="Provincia">
                  <mat-option *ngFor="let prov of regionService.departamentoSelected.provincias" [value]="prov.provincia">{{prov.provincia}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field id="distrito" class="campo-form">
                <mat-select name="distrito" #distrito="ngModel" [(ngModel)]="direccionService.selecDireccion.distrito"  placeholder="Distrito">
                  <mat-option *ngFor="let dis of regionService.provinciaSelected.distritos" [value]="dis">{{dis}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field id="direccion">
                <input matInput name="direccion" #direccion="ngModel" [(ngModel)]="direccionService.selecDireccion.direccion"  placeholder="Dirección" required>
                <mat-error *ngIf="direccion.invalid && (direccion.dirty || direccion.touched) && direccion.errors.required">La dirección es un campo requerido</mat-error>
              </mat-form-field>
              <mat-form-field id="tipolocal" class="campo-form">
                <mat-select name="tipolocal" #tipoLocal="ngModel" [(ngModel)]="direccionService.selecDireccion.tipolocal"  placeholder="Local de Envío">
                  <mat-option *ngFor="let vivienda of tiposVivienda" [value]="vivienda">{{vivienda}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field id="referencia">
                <input matInput name="referencia" #referencia="ngModel" [(ngModel)]="direccionService.selecDireccion.referencia" placeholder="Referencia" required>
              </mat-form-field>
              <mat-error *ngIf="referencia.invalid && (referencia.dirty || referencia.touched) && referencia.errors.required">La referencia es un campo obligatorio</mat-error>
              <mat-form-field id="telefono">
                <input matInput name="telefono" #telefono="ngModel" [(ngModel)]="direccionService.selecDireccion.telefono" placeholder="Teléfono/Celular" required minlength="6">
                <mat-error *ngIf="telefono.invalid && (telefono.dirty || telefono.touched) && telefono.errors.required">El teléfono es un campo obligatorio</mat-error>
                <mat-error *ngIf="telefono.invalid && (telefono.dirty || telefono.touched) && telefono.errors.minlength">El telefono debe tener una longitud mínima de 6 digitos</mat-error>
              </mat-form-field>
              <button mat-raised-button color="primary" (click)="nuevadireccion(nuevaDireccion)">Agregar mi nueva dirección</button>
            </form>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>
<!--
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-xs-12">
      <div class="card">
        <div class="card-header">
          MI CUENTA
        </div>
        <div class="card-body">
          <label class="datoTitulo">Ordenes</label><br>
          <label class="datoTitulo">Lista de Deseos</label><br>
          <label class="datoTitulo">Compras</label><br>
          <label class="datoTitulo">Metodos de Pago</label><br>
          <label class="datoTitulo">Datos Personales</label>
        </div>
      </div>
    </div>
    <div class="col-md-9 col-xs-12">
      <div class="card">
        <div class="card-header">
          ORDENES
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-3 col-sm-12">
              <div>
                <img class="img-fluid mx-auto d-block img-thumbnail" src="https://cdn.shopify.com/s/files/1/0877/3052/products/Mesa_de_trabajo_1_bb777699-0f16-4172-9d59-e4faa38235a9.jpg?v=1531350381"
                  width="150px">
              </div>
            </div>
            <div class="col-md-9 col-sm-12">
              <label class="datoTitulo"> Articulo:</label>
              <label class="dato">&nbsp;LG K9</label>
              <br>
              <label class="datoTitulo"> Precio:</label>
              <label class="dato">&nbsp;S/.1500.00</label>
              <br>
              <label class="datoTitulo"> Fecha de Pedido:</label>
              <label class="dato">&nbsp;14/11/2018</label>
              <br>
              <label class="datoTitulo"> Estado:</label>
              <label class="dato">&nbsp;Sin confirmacion</label>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          LISTA DE DESEOS
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-3 col-sm-12">
              <div>
                <img class="img-fluid mx-auto d-block img-thumbnail" src="https://cdn.shopify.com/s/files/1/0877/3052/products/Mesa_de_trabajo_1_bb777699-0f16-4172-9d59-e4faa38235a9.jpg?v=1531350381"
                  width="150px">
              </div>
            </div>
            <div class="col-md-9 col-sm-12">
              <label class="datoTitulo">Articulo:</label>
              <label class="dato">&nbsp;LG K9</label>
              <br>
              <label class="datoTitulo"> Precio:</label>
              <label class="dato">&nbsp;S/.1500.00</label>
              <br>
              <label class="datoTitulo"> Fecha de Adicion:</label>
              <label class="dato">&nbsp;10/11/2018</label>
              <br>
              <label class="datoTitulo"> Diferencia de Precio:</label>
              <label class="dato">&nbsp;S/.150.00</label>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          COMPRAS
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-3 col-sm-12">
              <div>
                <img class="img-fluid mx-auto d-block img-thumbnail" src="https://cdn.shopify.com/s/files/1/0877/3052/products/Mesa_de_trabajo_1_bb777699-0f16-4172-9d59-e4faa38235a9.jpg?v=1531350381"
                  width="150px">
              </div>
            </div>
            <div class="col-md-9 col-sm-12">
              <label class="datoTitulo"> Articulo:</label>
              <label class="dato">&nbsp;LG K9</label>
              <br>
              <label class="datoTitulo"> Precio:</label>
              <label class="dato">&nbsp;S/.1500.00</label>
              <br>
              <label class="datoTitulo"> Fecha de Compra:</label>
              <label class="dato">&nbsp;14/11/2018</label>
              <br>
              <label class="datoTitulo"> Fecha de Recepcion:</label>
              <label class="dato">&nbsp;15/11/2018</label>
              <br>
              <label class="datoTitulo"> Calificacion del producto:</label>
              <label class="dato">&nbsp;
                <img class="estrella" src="assets/images/star.png">
                <img class="estrella" src="assets/images/star.png">
                <img class="estrella" src="assets/images/star.png">
                <img class="estrella" src="assets/images/star.png">
                <img class="estrella" src="assets/images/star.png">
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          METODOS DE PAGO
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-3 col-sm-12">
              <div>
                <img class="img-fluid mx-auto d-block img-thumbnail" src="https://www.visa.com.pe/asociandose-con-nosotros/informacion-para-socios/pequenas-empresas/_jcr_content/par/cardstack_4/cardStackColumn1/image_efdc.img.jpg/1532721375345.jpg"
                  width="150px">
              </div>
            </div>
            <div class="col-md-9 col-sm-12">
              <label class="datoTitulo"> Tarjera:</label>
              <label class="dato">&nbsp;VISA</label>
              <br>
              <label class="datoTitulo">Estado:</label>
              <label class="dato">&nbsp;Activo</label>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          DATOS PERSONALES
        </div>
        <div class="card-body" *ngIf="usuario">
          <label class="datoTitulo"> Nombres:</label>
          <label class="dato">&nbsp;{{usuario.nombres}}</label>
          <br>
          <label class="datoTitulo">Apellidos:</label>
          <label class="dato">&nbsp;{{usuario.apellidos}}</label>
          <br>
          <label class="datoTitulo">Correo:</label>
          <label class="dato">&nbsp;{{usuario.correo}} </label>
          <br>
          <label class="datoTitulo">Fecha de Registro:</label>
          <label class="dato">&nbsp;{{usuario.fecha_afiliacion}}</label>
        </div>
      </div>
    </div>
  </div> -->