.card-perfil {
    margin: 10px 10px;
}

.campo-form {
    width: 50%;
    padding-left: 1%;
    padding-right: 1%;
}
.datos-form {
    width: 100%;
}
.card{
    margin: 1%;
}

.datoTitulo{
    font-size: 1.2rem;
    font-weight: bold;
}

.dato{
    font-size: 1.2rem;
}