a {
  text-decoration: none;
  color: black;
}

.card-perfil,
.card-datos-personales,
.card-direcciones {
  margin: 5px 5px;
}

.card-perfil {
  width: 100%;
}

.datos-form {
  width: 100%;
}

.itemDireccion :hover {
  cursor: pointer;
}

.menuLateral {
  display: none;
}

#tipoDocumento {
  width: 30%;
}

#numeroDocumento {
  width: 70%;
}

#nombres,
#apellidos,
#correo,
#fechaNacimiento,
#fechaAfiliacion,
#sexo,
#promociones,
#departamento,
#provincia,
#distrito,
#direccion,
#tipolocal,
#referencia,
#telefono {
  width: 100%;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

  mat-card-title {
    text-align: center;
  }

  .menuLateral {
    display: inline;
  }

  #botonActualizar {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
  }

  #nombres,
  #apellidos,
  #tipoDocumento,
  #numeroDocumento,
  #correo,
  #sexo,
  #fechaNacimiento,
  #fechaAfiliacion,
  #telefono {
    width: 50%;
    padding: .25rem;
  }

  #sexo {
    font-size: 12px;
  }

  #departamento,
  #provincia,
  #distrito {
    width: 33%;
  }

  #tipolocal {
    width: 30%;
  }

  #referencia {
    width: 70%;
  }
  #departamento, #provincia, #distrito, #tipolocal, #referencia, #direccion {
    padding: 0px .25rem;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  #perfil-usuario {
    display: flex;
    flex-wrap: wrap;
  }

  .card-datos-personales,
  .card-direcciones {
    width: 48%;
  }
}
/*progress*/
.progress-title{
  font-size: 14px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  margin: 0 0 30px;
}
.progress{
  height: 7px;
  background: #fff;
  border-radius: 0;
  margin-bottom: 30px;
  overflow: visible;
  box-shadow: none;
}
.progress .progress-bar{
  background: #fff;
  box-shadow: none;
  /*border-bottom: 4px dotted #ff1140;*/
  border-radius: 0;
  position: relative;
  -webkit-animation: animate-positive 2s;
  animation: animate-positive 2s;
}
.progress .progress-bar:before{
  content: "";
  border-bottom: 20px solid #000000;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  position: absolute;
  bottom: -4px;
  right: -4px;
}
.progress-bar .progress-value{
  font-size: 12px;
  font-weight: 700;
  color: #000;
  position: absolute;
  top: -33px;
  right: 0;
}
.progress.yellow .progress-bar,
.progress.yellow .progress-bar:before{ border-bottom-color: #fec100; }
.progress.purple .progress-bar,
.progress.purple .progress-bar:before{ border-bottom-color: #663399; }
.progress.green .progress-bar,
.progress.green .progress-bar:before{ border-bottom-color: #0ead69; }
@-webkit-keyframes animate-positive{
  0%{ width: 0; }
}
@keyframes animate-positive{
  0%{ width: 0; }
}
/**/